[2020-12-22 12:25] akrish4 opened #1 "New Repo- DSA README file update"
Here is the repo DSA

Need to update the readme file @ming-tsai   @paulsonjpaul

[2020-12-22 12:26] ming-tsai commented on #1
Okis

[2020-12-23 14:19] ming-tsai commented on #1
Hi @akrish4,
Could you describe how to use and the contribution guideline?

[2020-12-23 14:38] akrish4 commented on #1
i would suggest like to open a issue all the time when a new topic or program is added to a particular DSA topic so that we can avoid duplication of the codes from multiple users and maintainers can assign it to the ones who raise the issue will be given top priority to work on it.
right ? what do you say  @ming-tsai   @paulsonjpaul

[2020-12-23 14:56] ming-tsai commented on #1
I'm agreed

[2020-12-24 04:04] paulsonjpaul commented on #1
Good idea 👍

[2020-12-24 04:10] paulsonjpaul commented on #1
Add some description in the README (what this repo is about, etc.)

[2020-12-24 04:28] akrish4 commented on #1
yeah , we need to update readme file

[2020-12-24 04:52] Arsenic-ATG opened #3 "[Enhancement] Reformatting directory tree of the repository"
I think the folders in the repo should be ordered on the basis of algorithms instead of programming language.

example :
currently we have folder in this kind of structure
[code]

whereas, it should have the format
[code]
like this, it would be easier for both contributors and maintainers to keep track of what algorithms has been implemented in what all languages.

[2020-12-24 04:53] Arsenic-ATG commented on #3
I think it would be easier to tackle this right now as this is a new repository and doesn't have a lot of directories and files to move around

[2020-12-24 05:10] paulsonjpaul commented on #3
What about other languages? Will it come below `linear search` (just an example)? For example:
[code]

[2020-12-24 07:22] akrish4 commented on #3
Hi @Arsenic-ATG @paulsonjpaul
It would be better if  we don't prefer to have same topic contributed by different members for example  under searching topic we need only one code implementation for one language instead of many contributing to the same topic.
like linear search can be implemented in different languages ( cpp ,java ,py) but it should be only be once , duplicating the same code by dif

[2020-12-24 07:57] paulsonjpaul commented on #3
I like the first one:

[code]

[2021-01-08 13:53] akrish4 commented on #3
Lets go with this know
this all are okay with isnt it ? @ming-tsai @paulsonjpaul @Arsenic-ATG

[2021-01-08 14:11] ming-tsai commented on #3
The folder name could be on the lower case

[2021-01-09 06:13] paulsonjpaul commented on #3
The file name can be hyphened as well:

`linear-search.cpp`, `binary-search.cpp`

[2021-01-12 19:02] ming-tsai commented on #3
Hi guys,
I found a problem on the PR #6, we are going to repeat the file's name with the folder, so I change my option, please let me know your suggestions.
[code]

[2021-01-13 05:25] paulsonjpaul commented on #3
Ok. That looks more organized. A small suggestion. The topic can be capitalized so that it is recognizable as a topic. Also, `readme` should be capitalized:

[code]

[2021-01-13 05:26] paulsonjpaul commented on #3
Before merging #6, we need to merge #7. Else it would cause problems.

[2021-01-13 09:24] Arsenic-ATG commented on #3
@ming-tsai if you want to keep the old one then it's totally fine, I don't think it will make any huge impact on the contributors and at the end of the day it's you (along with @akrish4 ) who are going to moderate this repository so it's structure should be the one which suits you both better, than anyone else here.

So do you want me to update the PR and switch the structure back to format you su

[2021-01-13 11:50] ming-tsai commented on #3
Yes @Arsenic-ATG, but remember every folders and files should be on lower case, only the readme as this `README.md`

[2021-01-13 15:47] ming-tsai commented on #3
Hi @Arsenic-ATG,
PR #7 is merged, please update your branch, thanks

[2021-01-14 13:11] #3 closed

[2021-01-15 12:10] ming-tsai opened #9 "[Enhancement] Solution folder and Github Action"
Actually, we have a problem, that we don't know if the file it's building correctly or not, so my recommendation is below.
1. Reformation of directories
[code]
2. Create Github action for building the solutions

Waiting for your suggestions @Arsenic-ATG, @paulsonjpaul, and @akrish4

[2021-01-15 13:02] Arsenic-ATG commented on #9
And what will `solution file or project` contain ? 🤔

[2021-01-15 13:30] ming-tsai commented on #9
For example on csharp it's `.sln` or `.csproj`

[2021-01-19 13:19] #9 closed

[2021-01-19 13:20] ming-tsai commented on #1
Hi @akrish4, please check the contribution guideline on readme

[2021-01-27 20:04] ming-tsai opened #34 "This is an issue for update to @up-for-grabs"

[2021-01-27 20:35] #34 closed

[2021-01-28 14:18] Amisha-Mohapatra opened #38 "updating README.md add steps to PR"
Need to add some detailed information and steps how to create an issue and pull request.

It will be helpful for beginners to start with.

[2021-01-28 14:20] paulsonjpaul commented on #38
Do have any specific format in mind? Please tell us which part was not clear.

[2021-01-28 14:25] Amisha-Mohapatra commented on #38
@paulsonjpaul For beginners to start with open source contribution we can add some steps as documentation by which they will be comfortable with creating a pull request and an issue.

[2021-01-28 14:28] paulsonjpaul commented on #38
Would it be nice if we move the guidelines to a `CONTRIBUTING.md` file? I think it will be more specific and semantic than adding it in the `README.md`.

[2021-01-28 14:30] Amisha-Mohapatra commented on #38
@paulsonjpaul  yah that will be a better option.

[2021-01-28 14:31] paulsonjpaul commented on #38
@Arsenic-ATG

[2021-01-28 14:34] paulsonjpaul commented on #1
Shall we close this issue and continue the discussion in #38?

[2021-01-28 16:25] Arsenic-ATG commented on #38
That is a good idea, as there is no such file which instructs especially beginners how to contribute to this repository. I am totally ok with it.

I think you should get in touch with @ming-tsai , because if I remember correctly, he was already working on contributions.md for this repository.

[2021-01-28 18:27] ming-tsai commented on #38
Hi @Amisha-Mohapatra,
We could create like this [example](https://github.com/firstcontributions/first-contributions#first-contributions)

[2021-01-28 18:45] Amisha-Mohapatra commented on #38
@ming-tsai this example is really good. It clearly described the steps. Sure I would like to help you with this.

[2021-01-28 20:21] ming-tsai commented on #38
Nice @Amisha-Mohapatra , let me know any update

[2021-01-29 14:53] #38 closed

[2021-01-30 04:33] Arsenic-ATG opened #49 "New labels for different languages"
now all the new programs are labeled as `enhancement`

because of the obvious nature of this repository, we would be having different contributions for same/similar algorithms and data structures so wouldn't it be better to have different labels for different languages like one for C++, one for python etc. so that it becomes easier to review and manage PR's and issues about implementation of diffe

[2021-01-30 04:35] Arsenic-ATG commented on #49
I could have done it but thought it would be a better idea to consult members to see what they have to say about it.

[2021-01-30 09:10] paulsonjpaul commented on #49
I agree with this. Will you add the labels and classify old PRs, @Arsenic-ATG?

[2021-01-30 09:11] paulsonjpaul commented on #49
We will keep both `enhancement` and the specific language label (eg. `python`).

[2021-01-30 10:54] #49 closed

[2021-01-30 10:56] #1 closed

[2021-02-08 07:10] atin opened #65 "Instructions for categorizing algorithms"
Add instructions in the README on how to categorize algorithms.

Discussion => #64

[2021-02-10 04:47] TawfikYasser opened #68 "Suggestion"
Hi

I suggest to add a GitHub action to the repository, to display a welcome message for contributor who opens an `Issue` or `PR`

If the idea is good, I can do it, I have this action, and I can add it to work,

If you you agree, and assigned it to me, Please tell me the message you want to display it.

Thanks

[2021-02-10 08:07] TawfikYasser opened #69 "Add Linked List"
Hi

This issue to add Linked List code with `cpp`

My LL has functions : [insert at beginning, insert at end, insert after a position, insert before a position, print, length]

I will added more functions for search and delete day by day

I hope to like it

Thanks

[2021-02-10 15:14] ming-tsai commented on #68
Hi @TawfikYasser,
Nice idea, what do you think @paulsonjpaul, @Arsenic-ATG, and @akrish4?

[2021-02-10 15:16] TawfikYasser commented on #68
Thanks @ming-tsai  :)

[2021-02-10 15:27] TawfikYasser commented on #68
### It will be like this 👇 @ming-tsai

![image](https://user-images.githubusercontent.com/54971231/107531061-247f8b80-6bc5-11eb-8e73-05fed667efc0.png)

[2021-02-10 15:28] ming-tsai commented on #68
Nice

[2021-02-11 05:42] Arsenic-ATG commented on #68
can't we have one which automatically adds relevant language tab on the PR ? 😅

btw this looks nice 👍

[2021-02-11 05:56] TawfikYasser commented on #68
@Arsenic-ATG I think there is one like this > adds relevant language label on the PR

I am waiting for confirmation about `Welcome Action`

[2021-02-11 05:56] TawfikYasser commented on #68
Thanks

[2021-02-11 13:22] ming-tsai commented on #68
It's sounds good, we could add it by checking file changed

[2021-02-11 14:30] TawfikYasser commented on #68
@ming-tsai

Okay I will add the action

[2021-02-11 15:00] ming-tsai commented on #68
Could be on the same action

[2021-02-11 15:08] TawfikYasser commented on #68
Sorry, What you mean @ming-tsai ?

[2021-02-11 15:45] #69 closed

[2021-02-11 15:46] TawfikYasser commented on #68
PR opened here #73

[2021-02-11 15:54] ming-tsai commented on #68
I mean on the same action you could make write the message and assign the labels

[2021-02-11 15:55] #68 closed

[2021-02-11 16:11] TawfikYasser commented on #68
Okay @ming-tsai  I will try to make it soon.

[2021-02-15 05:09] TawfikYasser opened #74 "Add method to single linekdlist"
Hi

This issue to add the `insertAtEnd()` method to singly linked list

I hope it be good.

Thanks

[2021-02-15 16:05] Kushal997-das opened #77 "Suggestion !"
Make `readme.md` file more readable and attractive so that people can easily understand .

[2021-02-16 07:40] Arsenic-ATG commented on #77
@Kushal997-das what kind of changes do you have in mind to make readme more readable ?
would you like to share some ideas or better make the changes and create a pull request with the following changes ?

[2021-02-17 00:53] #74 closed

[2021-02-17 05:56] #77 closed

[2021-02-20 10:17] NegiAkash890 opened #81 "Fix - Need for updation of readme.md"
File Location - DSA/strings/
File Name - README.md

I think it would be good if the statement inside **c# section** which states "You could use any online IDE (for an example .net Finddle) to test them."  be shifted  inside  file  as a comment or included inside the repository  README.md (main).

[2021-02-22 01:33] ming-tsai commented on #81
Hi @NegiAkash890, could you help me on this one?

[2021-02-25 06:42] #81 closed

[2021-02-28 07:15] TawfikYasser opened #90 "Problem"
The problem is that reviewing PR is to late

[2021-02-28 07:51] Kushal997-das opened #91 "Want to join this organization."

[2021-02-28 12:54] Arsenic-ATG commented on #90
@TawfikYasser ,reviewing process takes time as right now we don't have a lot reviewers, and we can't just blindly merge all the pull requests that people create as we don't want any faulty code to pollute the repository.

if you want to volunteer then you can also put your reviews on any of the open pull requests if you find anything faulty in them or any edge case which the poster missed, It will

[2021-02-28 12:59] TawfikYasser commented on #90
Okay Thanks @Arsenic-ATG

[2021-02-28 19:22] ming-tsai commented on #91
Hi @Kushal997-das,
You were invited, please see the invitation [link](https://github.com/MakeContributions).

[2021-02-28 19:22] #91 closed

[2021-03-02 20:46] gauthamkrishna9991 opened #97 "Add Makefiles to Source-Codes (especially in C/C++)"
In C/C++, it's especially important for one to properly use compilers to get similar outputs, across platforms.

It's especially useful in cases where the user just has to run `make` to compile and execute / interpret the program, rather than search for 'how to compile X' or 'how to run Y'. For a lot of these cases, a `Makefile` defining the build recipe would assist a lot, along with automation d

[2021-03-03 07:33] Arsenic-ATG commented on #97
I don't think there is any requirement of it especially right now.

right now all the files there in the repository contains very basic programs which can easily be compiled/interpreted by any standard compiler/interpreter out there in just single compiler command or on a click of a button. `Makefile` would have been a great help in case there exist programs that span over multiple files and/or re

[2021-03-04 20:08] TawfikYasser opened #99 "Adding queue data structure on Array and Linked List"
Hi

I want to add the `Queue` Data Structure implementation using `Array` and `Linked List`

Please assign me if i can do that.

Thanks

[2021-03-05 13:57] ming-tsai commented on #99
Hi @TawfikYasser,
It's assigned to you.

[2021-03-05 15:04] TawfikYasser commented on #99
Thanks @ming-tsai

[2021-03-06 16:56] #65 closed

[2021-03-07 16:47] #99 closed

[2021-03-08 05:44] TawfikYasser opened #103 "Adding circular queue"
Hi
This issue to add a `Circular Queue using Linked List` in cpp
I will open a PR
Thanks

[2021-03-09 14:50] gauthamkrishna9991 opened #105 "typo in the yml job, supposed to be "greeting", not "greating""

[2021-03-09 14:58] #97 closed

[2021-03-10 03:26] TawfikYasser commented on #105
Hi @gauthamkrishna9991 , You can work on it to fix this typo

Open a PR and start working on it.

[2021-03-10 07:39] #90 closed

[2021-03-10 07:40] TawfikYasser opened #106 "Request"
Hi

I hope all are well

I have a request, I want to be a reviewer in this great repository.

I this possible I will be happy

Thanks

[2021-03-10 08:01] gauthamkrishna9991 commented on #105
Issue is fixed and PR proposed [here](https://github.com/MakeContributions/DSA/pull/107#issue-589231443).

[2021-03-12 22:39] ming-tsai commented on #106
Which languages are you going to be reviewer?

[2021-03-12 22:40] #103 closed

[2021-03-12 22:46] #105 closed

[2021-03-13 03:22] TawfikYasser commented on #106
C++ and Java

[2021-03-13 09:29] gauthamkrishna9991 opened #108 "Proposal for improved naming scheme"
Since the programs presently aren't kept in it's own directory, it would make sense to have an organisation for programs, by keeping it in its own directory (**PLEASE GO THROUGH PROPOSED SOLUTIONS IN THE BOTTOM**), as that provides better isolation **than just filenames**.
**For example**: Consider the tree of directory [**`DSA/arrays/c-or-cpp` @ `cdaefaf`**](https://github.com/MakeContributions/D

[2021-03-13 14:04] ming-tsai commented on #106
Okis, I will add you as reviewer on java and c++ change

[2021-03-13 14:04] #106 closed

[2021-03-13 14:05] TawfikYasser commented on #106
Thanks @ming-tsai

[2021-03-13 14:14] ming-tsai commented on #108
Hi @gauthamkrishna9991,
Is something like this #9?

[2021-03-13 14:52] gauthamkrishna9991 commented on #108
No actually. More like for a problem, it's either a problem `problem.ext` or a folder `problem` with a `main.ext` file.

It's not a categorisation, but rather organizing larger **single** programs in its own folder. It's a level of isolation instead of categorisation.

It's important for when you want to accommodate larger projects.

Given time I'll be able to provide a few examples.

[2021-03-13 16:00] ming-tsai commented on #108
Ok

[2021-03-13 16:05] ming-tsai commented on #108
I prefer a project or folder for each language, what do you think @Arsenic-ATG, @paulsonjpaul, @gauthamkrishna9991, @TawfikYasser, and @akrish4?

[2021-03-13 17:45] TawfikYasser commented on #108
Yes @ming-tsai  I am agree with you

[2021-03-13 19:51] gauthamkrishna9991 commented on #108
I agree with you partly about this. This proposal would reduce the cohesiveness and the simplicity of a project and also would introduce fragmentations on the directories.

Though would severely limit the flexibility of contributions (as in rust, though it's possible to have a single file being passed as program, it always is written & distributed with  `Cargo.toml` file in a directory, or in  Jav

[2021-03-14 02:55] Arsenic-ATG commented on #108
yes, it actually make sense especially when someone is trying to make his/her own full fledged data structure ( like a custom vector class in C++ ) then it would make more sense to put the actual class and it's implementation in separate files (possibly a static or dynamic library which can later be linked to the program for faster execution ) and will also make it possible to use it independently

[2021-03-14 02:59] ming-tsai commented on #108
I'm agree

[2021-03-14 10:12] gauthamkrishna9991 commented on #108
A few examples which could need directories for a problem.

Though a few extra files in the directory would also be needed, like a standalone `README.md` file, and a `.gitignore` file.

- **Rust (`rust`):** Almost all single rust programs are always organised and distributed as part of a project.

  A program/project in `rust` has a directory tree of the following structure.

[code]
- **JavaScript

[2021-03-14 14:17] ming-tsai commented on #108
So, we are going to have for each problem has its solution or project file?

[2021-03-14 14:27] gauthamkrishna9991 commented on #108
Not really. For simple ones we still keep the file based problem specification / convention. It's upto the contributor whether their problem requires a single file or a project.

We can have specific specifications we can work on, also, if the contribution is a project. The specification should be broad enough that most everyone should be able to run it easily and should be strict enough to be sur

[2021-03-14 14:29] gauthamkrishna9991 commented on #108
I can elaborate on it.

[2021-03-14 14:43] ming-tsai commented on #108
Could you fork the repo and create some examples?

[2021-03-14 14:43] gauthamkrishna9991 commented on #108
Sure.

[2021-03-16 12:43] ming-tsai commented on #108
@gauthamkrishna9991 could you help update the contributions guidelines?

[2021-03-16 12:55] gauthamkrishna9991 commented on #108
Sure.

[2021-03-16 18:22] gauthamkrishna9991 commented on #108
The name of the **project directory-based problem** follows what we did for the **single file-based problem** we did before, minus the file extension of course.

As I understand, I think the better naming for all these would be `category` or `topic` (a common category which a subset of these problems belong to) => `language` (the base programming language the problem is written in) => `contributio

[2021-03-17 12:18] ming-tsai commented on #108
@gauthamkrishna9991 could you creating the pull request, so it will be easier to review it

[2021-03-17 14:37] gauthamkrishna9991 commented on #108
Done.

[2021-03-18 19:48] #108 closed

[2021-04-02 16:58] TawfikYasser opened #128 "Add java scheduling algorithm"
Hi

This issue to add the java scheduling algorithm called: `Multi-Level Queue`

Thanks

[2021-04-02 17:42] #128 closed

[2021-04-04 02:58] TawfikYasser opened #132 "Adding new scheduling algorithm using Java"
Hello

This issue to add `Round Robin` Scheduling Algorithm using `Java`

Thanks

[2021-04-04 21:47] #132 closed

[2021-04-05 14:28] UG-SEP opened #139 "Wanted to add Prim's algorithum in C Language"
Hey,
I saw that there is  absence of the one of the famous Prim's algorithm in Graph->C-or-CPP so can i add this algorithm basically Prim's algorithm is a way to implement the Minimal Spanning Tree (MST) `means to find the minimum cost way to cover all the vertex`.
Please Assign Me

[2021-04-07 15:36] #139 closed

[2021-04-07 16:30] UG-SEP opened #141 "Program to find total no. of words in sentence"
Hey,
I saw that there is no program related to Problem:
Total Number of Words in [string->c-or-cpp](https://github.com/MakeContributions/DSA/tree/main/strings/c-or-cpp)
`Input:`  The DSA is the most important topic in programming to solve real world problems
`Output:`  There are 14 words in the sentence
Please assign me the issue
Thanks

[2021-04-08 08:45] apex-blaze opened #142 "Need to add folder for "trees""
I wanted to add some code for **Tree** data structure, but as no folder for tree exists I want to make one!!
So if you don't mind I would like to create it!!

[2021-04-08 11:04] ming-tsai commented on #142
Yes, you could created

[2021-04-09 12:39] TawfikYasser opened #145 "README Enhancement"
Hello

I'd like to add this new `GitHub` feature to **DSA README.md** file

<img src="https://opengraph.github.com/3b128f0e88464a82a37f2daefd7d594c6f41a3c22b3bf94c0c030135039b5dd7/MakeContributions/DSA" alt="DSA"/>

What do you think @ming-tsai

Thanks

[2021-04-09 12:51] ming-tsai commented on #145
Yes, you could create a pull request

[2021-04-09 16:48] #145 closed

[2021-04-09 21:31] cclauss opened #152 "Typos discovered by codespell"
% `codespell --ignore-words-list=ans,nnumber --quiet-level=2`
[code]

[2021-04-10 06:18] #142 closed

[2021-04-10 07:07] Arsenic-ATG commented on #152
Thanks @cclauss for the report, I would be looking towards it.

[2021-04-10 09:10] #152 closed

[2021-04-11 01:27] ming-tsai opened #158 "A list for programming languages reviewers"
We need a file that contains programming languages reviewers, now I only know @TawfikYasser and @Arsenic-ATG.

[2021-04-12 09:19] UG-SEP commented on #158
I wanted to be reviewer of c,c++ programming language
Please let me to do
Thanks

[2021-04-12 11:29] cclauss opened #169 "We should encourage that submisssions have tests"
Our GitHub Actions should run testing engines for the various programming languages and we should encourage all new submissions come with tests... #170 will add more tests to the list below.

% `pytest --doctest-modules .`
[code]
Other opportunities:
* [ ] linked-lists/Python/singly.py
* [ ] searching/python/binary-search.py
* [ ] searching/python/jump-search.py
* [ ] searching/python/linear-searc

[2021-04-12 12:45] ming-tsai commented on #169
Nice work, so would you like to help me with this issue?

[2021-04-12 15:10] sridhar-5 commented on #158
Hi,
I can review python and java. Working on these two languages intensively these days. You can check my Data Structure Repo [https://github.com/sridhar-5/Data-Structures-and-Algorithms/tree/main/Practice%20](here).
So make me a reviewer

Thanks in Advance.

[2021-04-12 15:28] ming-tsai commented on #158
I will created the reviewer markdown file

[2021-04-12 15:40] atin commented on #158
I can review go, cpp and python.

[2021-04-12 15:53] sridhar-5 commented on #158
Also can you please tell me how to be a member of this organization please? and if you can make me a member please.

[2021-04-12 16:01] ming-tsai commented on #158
You could just contribute to our project, then you will be invited

[2021-04-13 12:37] ming-tsai commented on #158
Hi @sridhar-5,
The invitation [link](https://github.com/MakeContributions)

[2021-04-13 12:42] sridhar-5 commented on #158
Thanks man. :)

[2021-04-13 12:49] cyberwizard1001 commented on #158
@ming-tsai Hi! I'm a computer science student currently working on data structures and algorithms, and I can review code in C++, python as well as Java.

Here are some repositories with code for all three languages that I have worked on in the past:

https://github.com/cyberwizard1001/oop-java-programming
https://github.com/cyberwizard1001/java-dbms-project
https://github.com/cyberwizard1001/advan

[2021-04-13 13:16] ming-tsai opened #171 "Open Graph is not drawing"
Hi @TawfikYasser,
Could you help me to check this?
![image](https://user-images.githubusercontent.com/37890026/114558591-d6285080-9c38-11eb-9aee-03cbc4b7efba.png)

[2021-04-13 13:25] cclauss commented on #169
@ming-tsai I would be interested to see _others_ jump in and create tests for the remaining files listed in the checklist above.

[2021-04-13 13:32] ming-tsai commented on #158
Hi guys,
Here is the [list](https://github.com/MakeContributions/DSA/blob/main/README.md#reviewers)

[2021-04-13 13:34] ming-tsai commented on #169
Yes @cclauss

[2021-04-13 14:40] TawfikYasser commented on #171
Okay @ming-tsai  I'll see the problem and try to fix it.

[2021-04-13 16:55] TawfikYasser opened #175 "Action Python Error"
Hi @cclauss

I think there is a problem here
![Screenshot 2021-04-13 185507](https://user-images.githubusercontent.com/54971231/114591104-d270ea00-9c89-11eb-9ab3-e5faa6e237a2.png)

Thanks

[2021-04-13 17:01] cclauss commented on #175
Clicking the Details hotlink is a good idea...
[code]

[2021-04-13 17:03] TawfikYasser commented on #175
So what is the problem

[2021-04-13 17:10] cclauss commented on #175
https://github.com/codespell-project/codespell is finding misspellings that need to be fixed. (Just like in a word processor.)

[2021-04-13 17:17] TawfikYasser commented on #175
Oh okay, Sorry for the misunderstanding

[2021-04-13 17:17] #175 closed

[2021-04-13 18:34] ming-tsai opened #179 "Lint python is looking for the Java file"
Hi @cclauss,
Please check the lint_python, he only makes a change with the java file #178

[2021-04-14 13:36] #179 closed

[2021-04-14 13:39] ming-tsai opened #183 "Documentation about algorithms"
Hi guys,
Now a day we have all algorithms, but we don't have the documentation about each one of them, I think to make some changes to the folder.
- Move all algorithms to the algorithms folder
- Create a docs folder, it will contain the docs of the algorithms

What are you thinking?

[2021-04-14 13:45] TawfikYasser commented on #183
Yes @ming-tsai It is a good idea, Really, I feel that the repository is now disorganized and needs to be indexed to be easier for learners and also for new contributors.

[2021-04-14 13:53] TawfikYasser commented on #183
Daily I'm thinking about how to make the repo. more attractive and to not only contain DSA

We want to expand the fields in order to provide the opportunity for a larger number of people to contribute, for example adding other types of contributions, not only algorithms and data structures (DSA), for example, another part for beginners in programming and CS in general to add the small programs tha

[2021-04-14 14:03] ming-tsai commented on #183
Good point

[2021-04-14 15:53] cclauss commented on #183
In building https://github.com/TheAlgorithms we took a _one-repository-per-language_ approach and an [Algorithms Explanation](https://github.com/TheAlgorithms/Algorithms-Explanation) repo.  repo-per-language allows contributors and maintainers to focus on the languages that they know (or want to learn).  Communities build separately but there is a lot of compare and contrast that maintainers do to

[2021-04-14 16:05] apex-blaze commented on #183
Yes, I actually agree with @cclauss , because the file structure we currently have is kinda mess. We have folders denoting the data structures, within them we have sub-classified our languages. Due to this, alot of algorithms have been coded in just 1 or 2 languages and rest are missing. It's better to have languages separated from root folder or the one @cclauss  has mentioned.

[2021-04-14 16:27] ming-tsai commented on #158
Hi @cyberwizard1001,
Please accepted your [invitation](https://github.com/orgs/MakeContributions)

[2021-04-14 16:33] ming-tsai commented on #183
Actually, I would like to make some different way of **TheAlgorithms**, I'm thinking we could be as below folder structure:
[code]
For each algorithm, the folder contains the source and tests, then we could create the Github action to check each language

[2021-04-14 16:41] ming-tsai commented on #183
This is my opinion, and we won't need to change all files, only need to move folder, create the actions and create automatically job

[2021-04-14 16:42] cclauss commented on #183
That works.

My sense is that languages are brand names (I bet language communities agree) so C, C++, JavaScript, Python are more respectful than all lowercase.  python is a snake and Python is a computer language.

[2021-04-14 16:47] ming-tsai commented on #183
Ok, we could change that rule

[2021-04-14 17:36] sridhar-5 commented on #158
Congrats, and Welcome aboard @cyberwizard1001.

[2021-04-14 20:17] ming-tsai commented on #183
I will starting moving CSharp and Javascript folder

[2021-04-15 01:58] ming-tsai commented on #183
Done with [C#](https://github.com/MakeContributions/DSA/tree/main/algorithms/CSharp)

[2021-04-15 05:12] cclauss commented on #183
JavaScript... Capital J and capital S

[2021-04-15 05:36] cclauss opened #199 "Should our JavaScript files use standard formatting?"
Should we suggest or require https://standardjs.com/ or not?  Related to #197

[2021-04-15 06:19] #141 closed

[2021-04-15 09:36] UG-SEP commented on #183
agree 💯💯

[2021-04-15 10:42] UG-SEP opened #201 "Good or Bad String in C++"
Hey,
 I wanted to add a program which let you know whether the string is good or bad
Criteria:
If the string contain continuously more than  5 vowel or continuously more than 3 constant then  it is a bad string else it is  a good string
Question of GeeksforGeeks Platform: [Bad or Good String](https://practice.geeksforgeeks.org/problems/good-or-bad-string1417/1/?company[]=Amazon&company[]=Amazon&pr

[2021-04-15 11:15] ming-tsai commented on #199
Yes, sound great

[2021-04-15 11:25] ming-tsai commented on #183
I'm going to working to that one

[2021-04-15 12:48] Arsenic-ATG commented on #201
hey @UG-SEP, also mention the programming language you would be using to attempt this algorithm.

It will make this issue open for others also to contribute but in different languages.

[2021-04-15 13:14] ming-tsai commented on #183
We could specify the paths for the project like this [action](https://github.com/MakeContributions/DSA/blob/main/.github/workflows/dotnet.yml)

[2021-04-15 13:14] #183 closed

[2021-04-16 18:26] atin commented on #169
Is it okay if I add more tests or should I wait for others to do it? @ming-tsai @cclauss

[2021-04-16 18:28] cclauss commented on #169
I see no advantage in waiting... go for it!

[2021-04-16 18:33] ming-tsai commented on #169
Yes you could make contributions as you want

[2021-04-16 19:11] ming-tsai opened #219 "Moving Programming language file to Algorithms folder"
- [x] C#
- [x] JavaScript
- [x] Python
- [x] Go
- [x] Java
- [x] C
- [x] C++
- [x] Rust
- [x] Haskell

[2021-04-16 19:23] ming-tsai commented on #199
Hi @cclauss,
It is implemented on the PR #217

[2021-04-16 19:23] #199 closed

[2021-04-16 22:21] TawfikYasser commented on #219
Thanks @ming-tsai I'll start the work soon! Forgive me

[2021-04-16 22:56] ming-tsai commented on #219
Don't worry

[2021-04-17 18:27] UG-SEP opened #224 "Typo mistake"
Hey @TawfikYasser ,
There is a typo mistake in your submitted PR
[See the typo mistake](https://github.com/MakeContributions/DSA/blob/main/algorithms/Java/README.md)
![mis 1](https://user-images.githubusercontent.com/75884061/115122988-8a7afb80-9fd8-11eb-8130-5df595efc440.jpg)
Please kindly fix this
Hope you do it soon @TawfikYasser
Thanks

[2021-04-18 01:37] #224 closed

[2021-04-18 14:14] cyberwizard1001 commented on #219
@ming-tsai Can I do C ?

[2021-04-18 14:34] ming-tsai commented on #219
Yes @cyberwizard1001

[2021-04-18 15:19] UG-SEP commented on #219
@atin i am doing this one ??

[2021-04-18 15:24] UG-SEP commented on #219
@ming-tsai  first please decide that who will do it else there could be a conflict between me and @atin

[2021-04-18 15:27] ming-tsai commented on #219
Sorry, I didn't remember that you were working on C
SO, @cyberwizard1001 and @atin, do not do it, let @UG-SEP do it

[2021-04-18 15:28] UG-SEP commented on #219
i will send you PR in 2 hours
Thanks

[2021-04-18 15:35] UG-SEP commented on #219
but before that you need to check and accept my PR #227 so that i can create a new PR

[2021-04-18 15:36] ming-tsai commented on #219
You could create a copy branch of your main

[2021-04-18 15:36] UG-SEP commented on #219
ok @ming-tsai

[2021-04-18 16:20] ming-tsai commented on #219
Hi guys,
Thanks for your contributions @atin, @Arsenic-ATG, @TawfikYasser, @cclauss, and @UG-SEP

[2021-04-18 16:20] #219 closed

[2021-04-18 16:23] #201 closed

[2021-04-18 16:36] cclauss opened #230 "Go tests are failing"
https://github.com/MakeContributions/DSA/actions/workflows/go.yml

[2021-04-18 20:12] ming-tsai commented on #230
Ok, would you like to help me on this ?

[2021-04-19 13:10] ming-tsai commented on #230
Hi @cclauss or @atin,
Could you help me with this issue?

[2021-04-19 13:11] ming-tsai commented on #171
Any update?

[2021-04-19 14:32] UG-SEP opened #233 "Wanted to add Insertion Sort in c"
Hey @ming-tsai ,
I wanted to add `insertion sorting` in c language.
Please assign me to do that
Thanks

[2021-04-19 16:56] atin commented on #230
Not sure what is the issue with golang-ci? maybe this https://github.com/golangci/golangci-lint/issues/825
But using this https://github.com/reviewdog/action-golangci-lint works

[2021-04-19 19:02] sambit221 opened #237 "Wanted to add height calculation of the tree in c"
Hey @ming-tsai  ,
I Wanted to add height calculation of the tree in c  language.
Please assign me to do that
Thanks

[2021-04-19 19:05] sambit221 opened #238 "Wanted to add finding the minimum and maximum value from the tree in c"
Hey @ming-tsai ,
I Wanted to add finding the minimum and maximum value from the tree in c language.
Please assign me to do so
Thank you

[2021-04-20 01:28] TawfikYasser commented on #171
## I think it is now working well, It was a problem with the API itself.

![og](https://user-images.githubusercontent.com/54971231/115323394-59412d80-a188-11eb-8b10-0026f4578f43.png)

[2021-04-20 03:32] #171 closed

[2021-04-20 03:32] ming-tsai commented on #171
Thanks

[2021-04-20 12:22] #233 closed

[2021-04-20 17:32] UG-SEP opened #240 "Kaprekar number in CPP"
Hey @ming-tsai ,
I wanted to add a program that can tell you whether a number is kaprekar of not
`Example:`
`Input:` 9
`Output:` 9 is a kaprekar number
`Explanation:` 1: First do the square of 9 is 81
                      2: divide the square of 9 in the equal parts or r=l+1 l=n/2
                      3: If the sum of the two divided number i.e. `8+1`=9 then its is a kaprekar number else not a k

[2021-04-20 21:25] #230 closed

[2021-04-21 17:08] TawfikYasser opened #245 "My working on documentation"
Hi

This is a long time issue to work on some of algorithms documentation.

Thanks

[2021-04-21 18:41] UG-SEP opened #248 "Binary Search in C"
Hey @ming-tsai ,
I wanted to add binary search in c language
Please assign me to do that
Thanks

[2021-04-22 04:54] atin opened #249 "Issue and PR Template"
I think we should add some templates for Issues and Pull Requests. This will help in having some clarity and a consistent format of issues and PRs. For eg. in issues we can create a template for bug report in any of the algorithm and for PRs we can have algorithm details like name etc and a link to it's implementation (if possible) so that reviewer(s) can verify the quickly.

Here are some of the

[2021-04-22 18:34] ming-tsai opened #253 "This a test"

[2021-04-23 04:40] #240 closed

[2021-04-23 10:02] atin commented on #169
After merging these PRs all python files will have doctests in them so I think this issue can be closed after merging. @cclauss can you verify?

[2021-04-23 11:46] cclauss commented on #169
Other programming languages can not be tested?

[2021-04-23 12:02] atin commented on #169
Oh, yeah. I thought this issue is just for python doctests. Then maybe can you add more subtasks? I can do that but I'm not able to edit the issue.

[2021-04-23 12:03] atin commented on #169
I'll try to add more tests in `go` and `cpp`

[2021-04-23 12:54] ming-tsai commented on #237
Hi @sambit221,
Why are you close this issue?

[2021-04-23 12:57] sambit221 commented on #237
i was unable to find any folder related to tree in c section

[2021-04-23 13:14] ming-tsai commented on #237
@sambit221 here is [the folder path](https://github.com/MakeContributions/DSA/tree/main/algorithms/C)

[2021-04-23 14:53] UG-SEP opened #258 "Wanted to add jump search in c and cpp"
### Hey @ming-tsai ,
I wanted to add **_jump search_** in c and cpp both languages
Please assign me to do that
Thanks

[2021-04-24 12:12] #248 closed

[2021-04-24 12:13] #169 closed

[2021-04-24 23:34] #253 closed

[2021-04-24 23:39] #245 closed

[2021-04-24 23:51] ming-tsai opened #260 "A new PR for test welcome bot"

[2021-04-24 23:51] #260 closed

[2021-04-26 01:55] Arsenic-ATG commented on #258
implementation of jump search in C++ already exist [here](https://github.com/MakeContributions/DSA/blob/main/algorithms/CPlusPlus/Searching/jump-search.cpp) in this repository

[2021-04-26 06:19] UG-SEP commented on #258
yes @Arsenic-ATG i saw but i will implement it using recursion

[2021-04-26 06:30] Arsenic-ATG commented on #258
how about you upgrade the already existing one by adding another function to perform it recursively. Like this not only we will not have multiple programs implementing same algo but will also reduce the work you have to do.

[2021-04-26 09:05] UG-SEP commented on #258
ok i will do it till night thanks for suggestion
Great idea @Arsenic-ATG

[2021-04-27 15:03] UG-SEP commented on #237
@ming-tsai the issue has been solved

[2021-04-27 15:04] UG-SEP commented on #238
@ming-tsai the issue had been resolve please close it

[2021-04-27 15:11] UG-SEP opened #271 "Go and Node.js workflow failing"
Hey @ming-tsai the go and Node.js workflow are failing
Please let it to pass
this should be solve as quick as possible
Thanks
![p](https://user-images.githubusercontent.com/75884061/116265573-db3ce200-a798-11eb-84f6-4067290590f7.jpg)

[2021-04-27 16:53] ming-tsai commented on #271
Yes, node is filling because the linter but go I don't know

[2021-04-27 16:54] #237 closed

[2021-04-27 16:54] #238 closed

[2021-04-27 18:13] atin commented on #271
![image](https://user-images.githubusercontent.com/61903527/116291186-ef410d80-a7b1-11eb-9823-986dfb017965.png)

The go workflow ran 9 days ago and there was some problem with it but now the problem is fixed. Since then there are no new pull requests on go so the new workflow has not ran yet.

[2021-04-28 22:24] #258 closed

[2021-04-29 08:28] UG-SEP opened #277 "Wanted to add Ternary Search in c and c++"
Hey @ming-tsai ,
I wanted to [ternary search](https://en.wikipedia.org/wiki/Ternary_search)
Please assign me to do that
Thanks

[2021-04-29 15:59] ming-tsai commented on #249
Does is it done?

[2021-05-04 10:28] #277 closed

[2021-05-06 04:49] UG-SEP opened #284 "Wanted to add Interpolation Search in c"
Hey @ming-tsai,
I wanted to add an interpolation search please assign me to do that.
Thanks

[2021-05-06 12:18] Sranu2109 commented on #249
Is there any issue that I can work upon?

[2021-05-06 13:20] ming-tsai commented on #249
Hi @Sranu2109,
For now we don't have, but you could open an issue for new feature or algorithm

[2021-05-07 09:15] Sranu2109 opened #286 "Head sort on C, C++ and Python"
Hey @ming-tsai,
I wanted to add heap sort in C, C++ and, python, further want to add docs/en of heap sort please assign me to do that.
Thanks

[2021-05-07 23:29] ming-tsai opened #289 "Documentation for the algorithms"
It'd be awesome to have a lot of documentation for the algorithm that was implemented in different languages

🐞 Problem
Currently, we have only a bunch of documentation of the algorithms
🎯 Goal
Have a lot of documentation of the algorithm

💡 Possible solutions
Add documentation of the algorithm

**How to make it?**
Check out [Contribution Guidelines](https://github.com/MakeContributions/DSA/blob/m

[2021-05-07 23:30] ming-tsai commented on #271
It is fixed
![image](https://user-images.githubusercontent.com/37890026/117517672-ba2f7a80-af6a-11eb-8bd3-7f5cabee9840.png)

[2021-05-07 23:30] #271 closed

[2021-05-08 17:05] ming-tsai commented on #286
Hi @Sranu2109,
When you finished one of them, please make it checked.
- [x] C
- [ ] C++
- [ ] Python

[2021-05-12 10:52] ShambhaviSharma0110 opened #294 "Problem: Remove array duplicates (in-place)"
I would like to submit my solution to the following question in c++;

Given a sorted array nums, remove the duplicates in-place such that each element appears only once and returns the new length.

Do not allocate extra space for another array, you must do this by modifying the input array in-place with O(1) extra memory.

[2021-05-12 12:32] ming-tsai commented on #294
Hi @ShambhaviSharma0110,
I will wait for your pull request

[2021-05-15 18:12] Roshaen opened #304 "Separate directories for 1-D and 2-D arrays"
Hey @ming-tsai,
We could make separate directories for the 1-dimensional array and the 2-dimensional array to make the code base structure cleaner and simplified.

[2021-05-15 18:16] ming-tsai commented on #304
Hi @Roshaen,
Nice idea, but I would like to the people add method for different dimension of array on the file

[2021-05-15 22:46] aayushjain7 opened #306 "Help"
How can I remove previous commits that are already been merged so that when I create a new pull request the older commits does not get included in a new pull request?

[2021-05-15 22:50] aayushjain7 commented on #306
#305
Here you can see my older commits which are already been merged. How can I avoid them getting included in a new pull request?

[2021-05-16 11:05] Ashborn-SM commented on #306
hope this helps - https://stackoverflow.com/questions/16306012/github-pull-request-showing-commits-that-are-already-in-target-branch

[2021-05-16 11:43] ming-tsai commented on #306
You just need to update your fork, and make change

[2021-05-16 12:21] Ashborn-SM commented on #306
How do i update my fork?
re-fork?
git pull?

[2021-05-16 13:49] aayushjain7 commented on #306
Thanks.

[2021-05-16 13:50] aayushjain7 commented on #306
I do update them. I fetch the changes from the original repository

[2021-05-16 14:29] ming-tsai commented on #306
Ok

[2021-05-16 23:33] ani1998ket opened #309 "Template for list of problems"
I suggest creating empty files in each language directory for every problems that has been implemented or needs to be implemented.
This way there will be a consistency in the list of problems  and one can just focus on implementing a problem in any particular language.

[2021-05-17 06:32] #306 closed

[2021-05-17 10:11] Sranu2109 commented on #286
Done with all of em'

[2021-05-17 10:47] ming-tsai commented on #309
Hi @ani1998ket,
I'm disagree with this case, due to we don't have to create a file that doesn't have implementation, and this repo is let the developer to learn how to contribute a open source project.
Coding, reviewing, discuss, and apply the suggestions is the process of the contribution.

[2021-05-17 10:47] #309 closed

[2021-05-17 11:48] Ashborn-SM opened #311 "Avl Trees and Heap in C++"
Hey @ming-tsai
i wanted to add avl trees and Heap data structure in c++, please assign me to do that
Thanks

[2021-05-17 12:21] #304 closed

[2021-05-17 12:21] ming-tsai commented on #286
Nice work @Sranu2109

[2021-05-17 12:21] #286 closed

[2021-05-28 11:10] ronsemel opened #326 "Topological Sort in graphs c++"
I would like to add topological sort in the graphs folder in c++.
May you please assign me?

[2021-06-02 10:16] RobHam99 opened #333 "Interpolation Search in Python"
Can I make Interpolation search in python?

[2021-06-02 10:50] ming-tsai commented on #333
Yes, I will waiting for you pull request

[2021-06-04 10:06] Arsenic-ATG commented on #294
This issue is now open for all to work upon.

If someone want to work on this then feel free to notify the members here to get assigned or you can also open a PR with the algorithm for reviewing.

[2021-06-05 00:16] ming-tsai commented on #311
This is merged on the pull request #323

[2021-06-05 00:17] ming-tsai commented on #333
This is merged on pull request #334

[2021-06-05 00:17] #333 closed

[2021-06-05 00:18] ming-tsai commented on #326
Hi @ronsemel,
How is going on with this issue?

[2021-06-05 00:18] ming-tsai commented on #284
Hi @UG-SEP,
How is going on with this issue?

[2021-06-05 03:22] Ashborn-SM commented on #311
@ming-tsai  there is still heap structures i need to do.
I think can complete by next saturday.

[2021-06-05 09:01] JayantGoel001 opened #338 "I would like to join this organization to add DS and Algorithms"

[2021-06-06 01:53] Arsenic-ATG commented on #338
Actually it's the other way around.

in order to join this organisation, one must add DS and Algorithms to the repository.

[2021-06-06 12:55] ming-tsai commented on #338
Hi @JayantGoel001,
You were invited as a member of this organization.

[2021-06-06 12:55] #338 closed

[2021-06-06 14:25] JayantGoel001 commented on #338
Thanks 🙂

[2021-06-07 01:36] #284 closed

[2021-06-07 03:27] UG-SEP opened #341 "Stack using array in c++"
Hey @ming-tsai,
I wanted to add **stack using array** in c++
So please assign me to do that
Thanks...

[2021-06-07 11:03] Vedant488 opened #344 "[BUG] Python README.md Catalan Sequence URL"
**Bug detail**

The link to the Catalan sequence leads to a 404 error page. I checked the reason and it is because the name of the file was wrong in the readme.md file.

[2021-06-07 11:04] Vedant488 commented on #344
It only requires a small change. I will be attaching a pull request to this if it is okay.

[2021-06-07 12:51] #344 closed

[2021-06-09 18:14] DarshGupta1910 opened #347 "Adding Recursion Using C++"
Hey, @ming-tsai, I can add a couple of Questions on recursion using C++ like nesting, Fibonacci series, head, tail, power using recursion. Please assign me this issue.

[2021-06-10 16:22] #311 closed

[2021-06-12 20:12] #341 closed

[2021-06-13 06:20] UG-SEP opened #355 "Abundant number in csharp"
Hey @ming-tsai,
I want to add a program that checks whether a number is `abundant` or not.
Please assign me to do that...
Thanks...

[2021-06-14 14:12] UG-SEP commented on #249
hey @ming-tsai  can I add a proposal, question and idea template

[2021-06-14 14:14] UG-SEP commented on #289
@ming-tsai please assign me I wanted to and binary search doc file

[2021-06-16 18:05] #355 closed

[2021-06-18 05:05] hkumar0132 opened #361 "Add breadth first search algorithm in DSA/algorithms/CPlusPlus/Graphs/"
I would like to add breadth first search algo in DSA/algorithms/CPlusPlus/Graphs/

[2021-06-18 05:11] hkumar0132 commented on #361
I dont know how this works but I have created PR #362

[2021-06-18 07:19] UG-SEP commented on #361
Hey @hkumar0132  are you new to Open-Source

[2021-06-18 07:25] UG-SEP commented on #361
I have assigned you to the issue but please remember It from next time
Waiting for the PR update

[2021-06-18 15:21] hkumar0132 commented on #361
Working on it, thanks

[2021-06-18 16:24] UG-SEP opened #363 "Reorder LinkedList in C++"
## Information about Algorithm

(It reorder a LinkedList in the given manner in just O(N) Time complexity & O(1) space complexity
**Given a singly linked list: A0→A1→…→An-1→An, reorder it to A0→An→A1→An-1→A2→An-2→…**
This  problem is related to LinkedList)
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://githu

[2021-06-20 17:47] hkumar0132 commented on #361
I have made the necessary changes

[2021-06-21 12:48] #361 closed

[2021-06-23 14:29] ming-tsai opened #369 "Enhancement or feature request"

[2021-06-23 14:29] #369 closed

[2021-06-23 14:29] ming-tsai opened #370 "Add new algorithm"

[2021-06-23 14:29] ming-tsai opened #371 "Bug report"

[2021-06-23 14:29] #370 closed

[2021-06-23 14:29] #249 closed

[2021-06-23 14:30] #371 closed

[2021-06-24 18:09] Vedant488 commented on #289
Is this a mistake by any chance? I think this issue should stay open because the documentation will require regular updates as new algorithms are added in the repository.

[2021-06-25 13:55] ming-tsai commented on #289
Yes

[2021-06-25 16:17] JesusFidel commented on #294
Would be happy to take it. Can you please assign me? thanks.

[2021-06-26 07:48] UG-SEP opened #375 "Parenthesis Checker in c++"
## Information about Algorithm

Parenthesis checker is one of the most popular questions related to stack.It this you have to check whether the order of pair is correct or not. i.e.

{([])}
Output:
true
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.

[2021-06-26 14:59] #363 closed

[2021-06-30 02:54] chairmannone commented on #294
Can I try as first issue?

[2021-06-30 09:42] Arsenic-ATG commented on #294
@chairmannone, currently @JesusFidel must be working on it in C++.

If you also want to work on this then you can either pick another language to implement it or discuss with @JesusFidel in case you both want to work on this as a team ( although I don't think this issue is big enough to require 2 programs but we have no problem with it ).

[2021-06-30 19:11] UG-SEP commented on #347
Hey @DarshGupta1910,
How is the work on this issue is going on??

[2021-07-02 09:56] JesusFidel commented on #294
@chairmannone you can work on it. I am going to take a while till finalize it because these days are being busy to me. Take this issue if you like and I can take care of another issue in the future. Or, implement this algorithm in C instead of C++ would add value as well.

[2021-07-03 17:16] kartikeya100 opened #377 "Check Cycle in Directed Graph using C++"
## Information about Algorithm
Given list of edges in a directed Graph, the algorithm will check if there is a cycle present in it.

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [X] Yes
- [ ] No

[2021-07-04 03:27] ming-tsai commented on #377
Who you like to implement it?

[2021-07-04 08:13] kartikeya100 commented on #377
Pull #378 added.

[2021-07-06 07:23] UG-SEP commented on #375
@ming-tsai  I saw the same program in c++ language so I am adding it in C language

[2021-07-09 12:26] Ashborn-SM opened #385 "Heap Structures in C"
## Information about Algorithm

Min and Max Heap structures in c
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

[2021-07-09 13:22] emily876 commented on #326
Hey @ming-tsai, can I work on this issue?

[2021-07-09 13:24] ronsemel commented on #326
Hello, due to injury I was unavailable for a long time, may u please take me off the assignment?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: DEVSI SINGH ***@***.***>
Sent: Friday, July 9, 2021 4:22:13 PM
To: MakeContributions/DSA ***@***.***>
Cc: Ran Semel ***@***.***>; Mention ***@***.***>
Subject: Re: [MakeContributions/DSA] Topological Sort in graphs c++ (

[2021-07-09 13:24] ming-tsai commented on #326
There is a change on #381

[2021-07-09 13:27] #375 closed

[2021-07-09 13:27] #326 closed

[2021-07-10 12:00] #377 closed

[2021-07-13 02:59] Ashborn-SM commented on #385
@ming-tsai you can close this issue now

[2021-07-13 02:59] #385 closed

[2021-07-13 13:05] ming-tsai commented on #347
This issue now is open for assign to another one

[2021-07-25 16:17] abs99 commented on #347
Hey @ming-tsai , I can add basic and advanced recursive problems like Tower of Hanoi, recursive sorting and advanced backtracking problems like combination sum,etc. Please assign me this issue.

[2021-07-25 23:44] ming-tsai commented on #347
Ok, I assigned to you

[2021-07-26 13:35] jishanshaikh4 opened #395 "[To contributors] Add missing data structure code from a supporting repo"
I see this is a good repository for data structures and algorithms. If contributors like to add some code, here https://github.com/jishanshaikh4/CSE-217-Data-Structures-Laboratory

Feel free to copy/add code chunk/full from there, just @ me.

Thanks.

[2021-07-26 13:36] jishanshaikh4 commented on #395
The language there is **C++/C**

[2021-07-26 14:14] ming-tsai commented on #395
Hi @jishanshaikh4,
I will waiting your pull request

[2021-07-26 16:24] jishanshaikh4 commented on #395
@ming-tsai Say less. Give me 48 hours. Ping me if I slept over :smile:

[2021-07-26 16:41] ming-tsai commented on #395
Ok, don't worries

[2021-07-27 05:06] emily876 opened #396 "Algorithm for finding middle node of a linked list in c++"
Hey @ming-tsai, I want to add this algorithm for the linked list in c++ language. Please assign me this !!

[2021-07-27 13:03] Ashborn-SM opened #398 "Generic programming in C"
## Information about Algorithm

@ming-tsai is Generic Programming relevant here in this repo?

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

None

[2021-07-27 13:17] ming-tsai commented on #398
Nop

[2021-07-27 13:19] Ashborn-SM commented on #398
alright,
Thanks for the quick response @ming-tsai

[2021-07-27 13:19] #398 closed

[2021-07-27 13:20] ming-tsai commented on #398
You welcome, are you going to programming on it? You could as this on discord

[2021-07-28 03:16] emily876 commented on #396
Hi @ming-tsai , Please review my pull request #400

[2021-07-28 09:15] ming-tsai commented on #396
I had added @UG-SEP to review the pull request

[2021-07-29 01:48] #396 closed

[2021-07-29 13:52] jishanshaikh4 commented on #395
See PR #402

[2021-07-29 13:52] jishanshaikh4 commented on #347
@ming-tsai I've added a few recursion programs (CPP) in #402

[2021-08-19 03:54] canhuynh1998 commented on #347
Did anyone want to add the permutation question for C++? If not, can @ming-tsai  assign that question to me?

[2021-08-19 05:47] i-am-santosh17 commented on #294
Hello, I would love to take this, Please assign this to me

[2021-08-19 06:17] i-am-santosh17 commented on #294
can you tell me, what is the expected input and output of the function? I mean Do I have to return an output array or just the length of array?

[2021-08-19 08:16] Arsenic-ATG commented on #294
@i-am-santosh17 This is not a competitive programming platform, so there are little to no restrictions here and most of the decisions are up to you to take on your program. Just make sure that It should works correctly for any general used case. 🙂

Also you can always add more functionality to your program in future.

[2021-08-19 09:05] i-am-santosh17 commented on #294
sure, thanks

[2021-08-19 11:14] ming-tsai commented on #347
Hi @canhuynh1998,
You could create a new issue about permutation question for c++

[2021-08-19 11:23] i-am-santosh17 commented on #294
I have created pull request, for this. If you can if everything is alright?

[2021-08-19 16:26] juhi1999 commented on #395
Hi, I am new to contribution. I forked dsa contribution on my system then .c files were not getting opened so I renamed it to .txt then I added a new DS algorithm but that again is in txt format. I tries rechanging its name to .c but again format it .txt.. I want to commit but I havn't.. what should I do next??? Please guide me.

[2021-08-19 19:36] cristianUrbina commented on #347
Hi @ming-tsai is there anything I can work in?

[2021-08-19 19:39] ming-tsai commented on #347
This issue is @jishanshaikh4 working on it on the pull request #402, but if you have new algorithm to suggest you could open an new issue and work on it

[2021-08-19 19:41] cristianUrbina commented on #347
Perfect. Thanks.

[2021-08-19 19:47] #294 closed

[2021-08-19 19:50] ming-tsai commented on #395
Hi @juhi1999,
Please check this [discussion](https://github.com/MakeContributions/DSA/discussions/383) any question please comment on it

[2021-08-20 05:30] canhuynh1998 opened #419 "Re-document the README for all languages"
I found out that some links in the README don't link to the correct files. Please assign this to me, I will document all the README files.

[2021-08-20 05:58] canhuynh1998 opened #420 "Adding some new problems/algorithms in Golang and permutation problem in C++"
I realized that the Golang section is kinda empty. I would like to contribute some questions to it. Please also assign me

[2021-08-21 08:46] DevastrR commented on #347
hi @ming-tsai is there anything i can work in ?

[2021-08-23 18:23] ming-tsai commented on #347
Hi @DevastrR,
Nop sorry, this is working on PR #416, I had removed the `help wanted` and `good first issue` tags, but if you want to add a new algorithm you could open a pull request

[2021-08-24 10:39] prakashsingh1609 opened #426 "Find the element that appears thrice"
## Information about Algorithm

Finds the element that appears thrice in an array in O(n) time. It is one of the most important interview question.

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

Hey @aayushjain7 , I want to

[2021-08-24 11:23] aayushjain7 commented on #426
@prakashsingh1609 Go ahead! 👍🏼

[2021-08-24 13:05] #419 closed

[2021-08-25 09:20] Ashborn-SM opened #429 "Assembly language"
@ming-tsai is it alright to push basic algorithms in assembly language to the repo?

[2021-08-25 12:35] krishna0303 commented on #426
Hey can i work on this issue?

[2021-08-25 13:08] ming-tsai commented on #426
Hi @krishna0303,
This algorithm is working @prakashsingh1609, but if you want to contribute this repo, please add another algorithm that is not exists

[2021-08-25 13:09] ming-tsai commented on #429
Yes @Ashborn-SM, you could push water ever language on this repo

[2021-08-25 14:25] Ashborn-SM commented on #429
SWEET!!!

[2021-08-25 14:25] #429 closed

[2021-08-28 13:33] SubhamKumarPandey commented on #289
Greetings! I want to contribute for bubble sort, insertion sort, Quick sort, and merge sort. Please assign me so that I will continue working on it.

[2021-08-28 13:44] SubhamKumarPandey commented on #289
Greetings @ming-tsai !! I want to contribute for DSA. Please assign me any task so that I will continue working on it.

[2021-08-29 09:38] viraj28 commented on #289
Hi @ming-tsai, I am new to contributing stuff on open source. Is it okay to write documentation for the code that is already in the algorithms folder or should i write a new algorithm and then a document for it?

if okay, then can i write some documentation?

[2021-08-29 16:55] ming-tsai commented on #289
Yes @viraj28, I'm waiting your pull request

[2021-08-29 16:56] ming-tsai commented on #289
Yes, you could check this repo if it is missing an algorithm then open an issue about it

[2021-09-07 12:48] ming-tsai commented on #420
Hi @canhuynh1998,
Are you working on this issue?

[2021-09-07 18:01] canhuynh1998 commented on #420
Hi @ming-tsai, yes I am still working on it. Thank you for following up!

[2021-09-11 15:20] #347 closed

[2021-09-11 15:20] #395 closed

[2021-09-13 13:41] #420 closed

[2021-09-14 18:17] KareimGazer opened #466 "Huffman Encoding in Cpp"
## Information about Algorithm
This algorithm encodes information reducing the size.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context
I used this algorithm in one of my college projects to reduce file size and

[2021-09-15 00:47] ming-tsai commented on #466
Hi @KareimGazer,
Waiting for your pull request

[2021-09-17 17:17] Gigolino2001 commented on #289
Hi @ming-tsai can I start working on Heap sort documentation? Thanks :)

[2021-09-17 19:42] ming-tsai commented on #289
Yes, I will waiting your pull request

[2021-09-20 11:45] #466 closed

[2021-09-24 08:53] kumarsyadav2 opened #481 "Palindrome Number in C++"
## Information about Algorithm
This algorithem is used to check whether reverse of a number is equals to original number or not.

(Type here)
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Type here)

[2021-09-24 13:17] ming-tsai commented on #481
Hi @kumarsyadav2,
I will wait for your pull request

[2021-09-24 13:38] kumarsyadav2 commented on #481
i have already made a pull request few days ago for adding armstrong number, also made successful submission yesterday.
Do i need to make a new pull request for making this new submission? or i can continue with old pull request? @ming-tsai @member

[2021-09-24 15:02] Ashborn-SM commented on #481
@kumarsyadav2  you need to make a new PR for each unique task. Your old PR has been merged so there's not much you can do about it,  we could revert it back but it will be a mess, so better to make a new PR for this new change.
Also when you mention `@member` you are pinging a user with that username(just click on that `@member` and see if for yourself), so don't do that.

[2021-09-25 05:59] kumarsyadav2 commented on #481
@Ashborn-SM my intention is to mentioning member of this organisation whenever I have written ```@member```,
Although thanks for concerning

[2021-09-25 06:51] Ashborn-SM commented on #481
mention atmost one or two that will be enough and make sure you get their username right.
Only those with permissions can add label and such things, first time contributors or members can't do that.

[2021-09-25 07:04] kumarsyadav2 commented on #481
@ming-tsai can you please allow me add labels? to avoid mess-up and mistakes I will only add lables to my own issues, conversation/pull request!

[2021-09-25 09:10] ming-tsai commented on #481
Wich is the labels that do you want to add?

[2021-09-25 15:37] kumarsyadav2 commented on #481
i will be add labels like C++ when i will create new issue or pull-request in CPlusPlus

[2021-09-25 23:38] ming-tsai commented on #481
Ok, don't worries I will assign it by myself

[2021-09-28 06:26] shivam01coder opened #491 "<!--Linear Search]--> in <!--[C plusplus-->"
## Information about Algorithm

This algorithm is used to find the location of the element in the Array
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- Yes

## Other context

This is a basic algorithm and very first algorithm with the completix

[2021-09-28 06:26] #491 closed

[2021-09-28 17:35] kumarsyadav2 opened #496 "Prime Number in C++"
## Information about Algorithm

Write a program in cpp to calculate the given number is prime or not
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

It is a general maths problem

[2021-09-28 18:47] #481 closed

[2021-09-29 17:52] ming-tsai commented on #496
Nope, I don't have idea about it, could you explain me?

[2021-09-29 17:59] kumarsyadav2 commented on #496
Hacktoberfest is a festival for open-source contributors which begins on 1st October every year from last 8 year.
There are some conditions for a repository to eligible for participating in hacktoberfest.
Kindly do some research on how to make make eligible our repository for hacktoberfest.
For more information do visit: hacktoberfest.digitalocean.com

[2021-09-30 14:56] kumarsyadav2 commented on #496
Hey @ming-tsai can you please label this issue with ```hacktoberfest``` label?
Actually hacktoberfest program is beginning tonight 12:00AM

[2021-09-30 18:31] kumarsyadav2 commented on #496
@ming-tsai kindly linked this issue to pull request i have made

[2021-09-30 19:19] kumarsyadav2 opened #501 "odd-even in C++"
## Information about Algorithm

A program to check odd and even numbers in cpp
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

it is a general maths problem

[2021-10-01 09:35] kumarsyadav2 opened #505 "palindrome number in C"
## Information about Algorithm

Add a program that will find palindrome number in C
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

[2021-10-01 09:36] kumarsyadav2 commented on #505
I like to work on this issue kindly assign this to me and linked with the pull request created by me

[2021-10-03 05:58] Manas-Tiwari opened #515 "Infix to postfix conversion in CPlusPlus"
## Information about Algorithm
Infix to postfix conversion algorithm takes an array of string (infix form) and converts it to postfix form using STACK.
(Type here)
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other conte

[2021-10-03 06:01] Manas-Tiwari commented on #515
with ref. to this issue/suggestion, i have submitted a PR #514.
please review it.
Thank you

[2021-10-04 05:35] isharawat commented on #515
claim

[2021-10-04 11:19] Manas-Tiwari commented on #515
claim ? @isharawat can you please explain a little bit .

[2021-10-05 08:19] ryzheboka commented on #289
Hi @ming-tsai, can I add documentation for ternary search?

[2021-10-05 08:54] ryzheboka commented on #289
The implementation of ternary search in C seems to search for a value (that is passed as parameter) in an array. But the Wikipedia page about ternary search defines it as an algorithm that searches for a minimum or maximum of a function. I would like to write documentation for ternary search, but I am a little bit lost there.

[2021-10-05 12:50] ming-tsai commented on #289
Hi @UG-SEP,
Could you explain his about the algorithm?

[2021-10-05 14:54] KrishanKantAgnihotri opened #518 "Fenwick Tree in cpp"
I can add Fenwick Tree Implementation in trees

[2021-10-05 14:56] KrishanKantAgnihotri opened #519 "Iterative Segment Tree Implementation in cpp"
I can add Iterative Segment Tree Implementation in cpp

[2021-10-05 15:26] ming-tsai commented on #518
Ok, waiting for your pull request

[2021-10-06 05:14] KrishanKantAgnihotri commented on #518
PR sent.

[2021-10-06 17:24] #515 closed

[2021-10-06 18:07] kumarsyadav2 commented on #496
Hey @Divya333  It's great that you are willing to work on this but i am currently working on it in a hectic schedule.
kindly find a new issue or create one to work with

[2021-10-06 18:09] kumarsyadav2 commented on #501
@ming-tsai , extremely sorry for the delay, i am working on it.

[2021-10-06 18:38] #496 closed

[2021-10-07 04:13] underager opened #528 "<!--Algorithm name]--> in <!--[language-->"
## Information about Algorithm
Rotating the elements of a singly link list in javascript.

(Type here)
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Type here)

[2021-10-07 04:23] bhavesh1129 opened #529 "Recursion Problems in Java"
## Information about Algorithm

Recursion Problems in Java

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

Adding some problems of recursion from Leetcode.

[2021-10-07 07:18] puneet-goel opened #532 "Segmented Sieve in cpp"
## Information about Algorithm

For a given a range (start to end), print all primes in this range
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Type here)

[2021-10-07 07:43] ryzheboka opened #533 "Longest common subsequence in C"
## Information about Algorithm

The algorithm processes two strings, and returns their longest common character subsequence. It is already implemented here in [Python](https://github.com/MakeContributions/DSA/blob/main/algorithms/Python/strings/longest_common_subsequence.py).
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of co

[2021-10-07 08:22] shivanithorve01 commented on #501
hello I am Shivani. can you assign this issue to me ?

[2021-10-07 16:56] rgoewedky opened #537 "N-th Fibonacci number in Java"
## Information about Algorithm

N-th fibonacci number using Matrix Exponentiation
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

Competitive Programming

[2021-10-08 05:57] puneet-goel opened #541 "Checking Prime (Recursively) in cpp"
## Information about Algorithm

Given a number check whether it is a prime or not recursively.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Type here)

[2021-10-09 06:01] kumarsyadav2 opened #553 "Odd-Even in C"
## Information about Algorithm

A program in C used to calculate whether the given number odd number or even number
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

[2021-10-09 06:14] Manas-Tiwari opened #554 "smallest possible sum in CPlusPlus"
## Information about Algorithm
finding the smallest possible sum in a given array of numbers.
(Type here)
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context
This is a competitive platform problem i.e. Codewars.
(

[2021-10-11 13:05] #426 closed

[2021-10-11 15:18] ming-tsai opened #561 "Hacktoberfest 2021"
<div align="center">
    <img alt="" align="center" width="400px" src="https://user-images.githubusercontent.com/50463866/135718788-5e4b1937-6593-47db-b6d8-789d89f39097.png"/>

**Open source is changing the world – one contribution at a time.**

**Support open source throughout October!**

Hacktoberfest encourages participation in the open-source community, which grows bigger every year. Complete

[2021-10-12 07:16] midsu commented on #554
Can I contribute to this algorithm?

[2021-10-12 07:24] Manas-Tiwari commented on #554
Hi @midsu , actually this already in review phase and there isn't much to contribute in this problem.
I would recommend you to clone this repo and add some problems/algorithms that are not already added.

[2021-10-12 20:00] AbihaFatima opened #569 "N Queens Problem in Java"
## Information about Algorithm

The N Queen is the problem of placing N chess queens on an N×N chessboard so that no two queens attack each other.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

[2021-10-13 10:00] ryzheboka opened #573 "Min Heap in Java"
## Information about Algorithm
Min Heap is a binary tree data structure. It's used for the fast access of the smallest element.

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

It's already implemented in [C]

[2021-10-15 13:07] #532 closed, assigned to puneet-goel

[2021-10-15 18:18] Prashant0kgp opened #580 "Give problem in python"
## Information about Algorithm

(Type here)
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Type here)

[2021-10-15 18:19] prehans commented on #501
Hello @kumarsyadav2 can you assign this to me?

[2021-10-16 10:09] DCoder-1 opened #581 "Binary exponentiation in cpp"
## Information about Algorithm

BInary Exponentiation allows to calculate pow(a,n) (or, a^n) in O(log n) time.
Implemented using recursion.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

This is a general ma

[2021-10-16 10:15] DCoder-1 commented on #581
I want to contribute for this.

[2021-10-16 14:31] prehans commented on #561
@ming-tsai can you please assign this issue to me?

[2021-10-16 16:51] shefali12-ab opened #583 "Index of smallest element of Array in C++"
I would like to contribute by adding a solution to a problem that is to find the index of the smallest element of Array in C++ language.

[2021-10-16 17:38] #580 closed

[2021-10-16 20:21] ming-tsai commented on #580
Hi @Prashant0kgp,
What do you close this issue?

[2021-10-16 20:46] Prashant0kgp commented on #580
No, I was thinking this repo belongs only to C++ and java students that why I close it.
thank you!

[2021-10-17 07:24] shefali12-ab commented on #583
@ming-tsai sir  is this project is participating in hacktober fest?

[2021-10-18 06:09] SamruddhiR opened #588 "PrimeString in Java"
Hello. Samruddhi Rajole here. I would like to contribute to your repo. I want to do a java program on to check whether the entered string is prime string or not. So I request you to please assign this issue to me.

[2021-10-18 08:10] Ektakanojia opened #589 "3sum in c++"
Hello
I would like to add the solution of 3sum  problem .
 https://leetcode.com/problems/3sum/

[2021-10-18 14:22] ryzheboka opened #590 "First non repeating character in Java"
## Information about Algorithm

The algorithm returns first character in a String that occurs only once.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

The algorithm is already implemented in [Python](https:

[2021-10-19 03:50] underager opened #593 "BUG in Doubly link list in Javascript"
**Bug detail**

File Name : [algorithms/JavaScript/src/linked-lists/doubly.js](algorithms/JavaScript/src/linked-lists/doubly.js)

Bug Detail: After deleting the tail in doubly link list, the getTail still returns the node with the old tail, rather than the updated one
![DLLBugDelete](https://user-images.githubusercontent.com/39869656/137840130-2f991bfd-a30f-467e-97ac-50c59a3b87e1.png)

**Counter e

[2021-10-19 12:59] Ektakanojia opened #597 "Merge two sorted array in c++"
Hello
I want to add the the solution of problem  merge two sorted array without using any extra space.

[2021-10-19 12:59] ming-tsai commented on #593
Hi @underager,
Would you like to working on it?

[2021-10-19 13:10] underager commented on #593
Yeah Sure, I'll make the PR for the same

[2021-10-19 13:18] #573 closed

[2021-10-19 15:09] anujjain5699 commented on #554
will u please assign this issue to me
@ming-tsai

[2021-10-19 15:28] anujjain5699 opened #601 "Merge Intervals in c++"
## Merge Intervals

merge all overlapping intervals, and return an array of the non-overlapping intervals that cover all the intervals in the input.

## Platform
[Leetcode](https://leetcode.com/problems/merge-intervals/)

[2021-10-19 15:30] anujjain5699 commented on #601
Hello,
I want to add solution for this problem

[2021-10-20 05:37] anujjain5699 opened #604 "Product of Array Except Self in c++"
## Product of Array Except Self
Given an integer array nums, return an array answer such that answer[i] is equal to the product of all the elements of nums except nums[i].

## Platform
[Leetcode](https://leetcode.com/problems/product-of-array-except-self/)

[2021-10-20 13:15] anujjain5699 opened #607 "Merge Intervals in c++"
## Merge Intervals
merge all overlapping intervals
## Other context
[Leetcode](https://leetcode.com/problems/merge-intervals/)

[2021-10-20 16:27] #607 closed, assigned to anujjain5699

[2021-10-21 07:57] anujjain5699 commented on #607
@ming-tsai
Plz help me ,how can I solve this

for my fork repo

[2021-10-21 08:10] anujjain5699 commented on #607
i already do
**fetch and merge**

[2021-10-21 12:47] ming-tsai commented on #607
You have to open a pull request to our branch

[2021-10-22 08:50] Ektakanojia opened #614 "Next premutation in c++"
Hello
I would like to add the solution of this question
https://leetcode.com/problems/next-permutation/

[2021-10-22 13:00] #583 closed, assigned to shefali12-ab

[2021-10-23 09:34] Ektakanojia opened #616 "first negative integer in every window of size k in c++"
Hello
I would like to add the solution of this question

[2021-10-27 12:58] #614 closed, assigned to Ektakanojia

[2021-11-01 14:36] underager opened #628 "Refactoring doubly link list on JavaScript"
## Information about Algorithm

The current version of [Doubly Link List](algorithms/JavaScript/src/linked-lists/doubly.js) has

- A node function expression
- Some variables
- And some miscellaneous CRUD methods which are binded to the current instance.
So if we look at it from a visual perspective this is how it looks
![Dll_Refactor_current](https://user-images.githubusercontent.com/39869656/139

[2021-11-02 12:50] #561 closed

[2021-11-05 12:51] #628 closed

[2021-11-21 14:56] underager opened #638 "Stack and Queue Implementation in Javascript"
## Information about Algorithm

I would like to propose following implementation in Javascript
1. Stack
2. Queue
3. Stack Using Two Queue
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

None

[2021-11-21 18:11] VishnuBhaarath commented on #616
Hi @Ektakanojia  are you working on this issue

[2021-11-22 04:23] Ektakanojia commented on #616
Already done with this one.

On Sun, 21 Nov 2021, 11:41 pm VishnuBhaarath ***@***.***
wrote:

[2021-11-22 08:45] VishnuBhaarath commented on #616
Okay, Thanks for the update.

[2021-11-22 10:01] VishnuBhaarath opened #640 "Watering plants in C++ (Leetcode)"
You want to water n plants in your garden with a watering can. The plants are arranged in a row and are labeled from 0 to n - 1 from left to right where the ith plant is located at x = i. There is a river at x = -1 that you can refill your watering can at.

Each plant needs a specific amount of water. You will water the plants in the following way:

Water the plants in order from left to right.
Af

[2021-11-29 18:34] AnishLohiya opened #643 "BFS, DFS Algorithm in C"
## Information about Algorithm

I want to Implement BFS, DFS Algorithm in C
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [X] Yes
- [ ] No

## Other context

None

[2021-12-02 18:39] #638 closed

[2021-12-03 03:18] ankitkrishan commented on #640
Can you assign it to me?

[2021-12-05 08:45] underager opened #646 "BUG in bubble-sort.js"
**Bug detail**

file name : [bubble-sort.js](algorithms/JavaScript/src/sorting/bubble-sort.js)

**Counter example**

bubbleSort([23, 34, 25, 12, 54, 11]));
should return // [11, 12, 23, 25, 34, 54]
instead it returns [23, 25, 12, 34, 11, 54]
it just pushes the biggest number to the end and does not sort the array.

I would like to submit the pull request for the same.

**Additional context**

Add

[2021-12-06 10:17] VishnuBhaarath commented on #640
#648 have given the pull request for this issue

[2021-12-07 18:20] lokesh-0706 commented on #646
Can you assign me this issue

[2021-12-08 14:13] ming-tsai commented on #646
This is the pull request #647 for this issue

[2021-12-08 14:18] #643 closed

[2021-12-09 13:06] #646 closed

[2021-12-11 18:29] AnishLohiya opened #651 "Add Quick Sort Algorithm in C"
## Information about Algorithm

Quick Sort Algorithm in C
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [X] Yes
- [ ] No

## Other context

(Type here)

[2021-12-12 04:59] sujana-kamasany commented on #651
Hello, I would like to contribute for this issue!

[2021-12-13 18:41] ming-tsai commented on #651
@AnishLohiya are you going to work this issue?

[2021-12-14 06:03] AnishLohiya commented on #651
Yes

[2021-12-18 13:50] #651 closed

[2021-12-24 08:25] sonustark1 opened #654 "Add Stacks in C Language"
## Information about Algorithm

Add Stack using arrays and stack using linkedlist
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [X] Yes
- [ ] No

## Other context

None

[2021-12-24 16:00] AnishLohiya commented on #654
Hey, @ming-tsai Can I Work on this issue ?

[2021-12-24 16:10] ming-tsai commented on #654
If @sonustark1 doesn't want to work on this issue

[2021-12-24 16:24] sonustark1 commented on #654
@ming-tsai  you can Assign him the issue if he wants to work on it.

[2021-12-24 16:25] ming-tsai commented on #654
Ok

[2022-01-01 13:42] simonkarofillidis opened #658 "Naismith's rule in C#"
## Information about the Algorithm

I would like to do an implementation of Naismith's rule in **C#**, the algorithm will make use of several user inputs for locations and several other integers to do the multiple calculations needed and print the according results for the intended route in detail.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUT

[2022-01-04 14:07] simonkarofillidis commented on #658
Thanks! I will make a branch and deliver one soon!

[2022-01-04 19:47] stutimohta20 opened #661 "prefix to postfix in cpp"
## Information about Algorithm
It will convert the expression from prefix form to postfix form
(Type here)
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

[2022-01-05 13:21] #654 closed

[2022-01-05 13:25] ming-tsai commented on #661
Hi @stutimohta20,
I will wait for your pull request.

[2022-01-05 20:30] simonkarofillidis commented on #658
@ming-tsai
Hello! I have made a new push to my branch which fixes, also made a good addition to make it more user friendly by adding some separating lines between the outputs. So they are clearer now, and i am sure it will pass the code-spell now! If anything goes wrong please tell me.

[2022-01-05 20:40] ming-tsai commented on #658
Ok, I will check it out

[2022-01-11 14:41] #658 closed

[2022-01-17 18:29] #537 closed

[2022-01-24 23:22] ming-tsai commented on #640
Hi @VishnuBhaarath,
Need help about this?

[2022-01-24 23:22] #616 closed

[2022-01-24 23:22] #604 closed

[2022-01-24 23:22] #640 closed

[2022-01-24 23:24] #529 closed

[2022-01-24 23:25] #590 closed

[2022-01-24 23:25] ming-tsai commented on #553
Hi @kumarsyadav2,
Are you working on this one?

[2022-01-24 23:26] #581 closed

[2022-01-24 23:26] #588 closed

[2022-01-24 23:27] #589 closed

[2022-01-24 23:28] #597 closed

[2022-01-24 23:28] #601 closed

[2022-01-24 23:51] helarious99 opened #680 "graph cycle detection using union-find algorithm in C++"
## Information about Algorithm

The algorithm will detect if a graph contains a cycle by using disjoint sets.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Type here)

[2022-01-25 13:24] ming-tsai commented on #680
Hi @helarious99,
I will wait for you pull request.

[2022-01-25 16:28] JenniferrLopez opened #682 "<!--Algorithm name]--> in <!--[language-->"
## Information about Algorithm

I'd like to be assigned the issue of creating a max heap implementation in C++, to be put in the trees section of algorithms in the C++ folder. I see there is a min heap but no max heap.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/

[2022-01-25 16:29] JenniferrLopez commented on #682
Please assign to me ! I posted the issue.

[2022-01-26 13:02] ming-tsai commented on #682
Hi @JenniferrLopez,
I will be waiting for your pull request!!!

[2022-01-27 04:02] Himuu14 commented on #682
Hi @ming-tsai,
If it is still open can you assigned it to me to ?

[2022-01-27 12:05] soggy-mushroom opened #684 "The Levenshtein distance (Edit distance) Problem in Python"
## Information about Algorithm

The Levenshtein distance between two words is the minimum number of single-character edits (i.e., insertions, deletions, or substitutions) required to change one word into the other
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_

[2022-01-27 12:49] JenniferrLopez commented on #682
This is part of one of my college projects this semester so it will be done by Sunday and I’d prefer to be the only one assigned if possible!

[2022-01-27 13:33] ming-tsai commented on #682
Hi @Himuu14,
This is assigned to @JenniferrLopez, you could open a new issue for add new DSA

[2022-01-29 20:12] jaciahr opened #688 "Ordered Map in C++"
## Information about Algorithm

I would like to add my implementation of an Ordered Map, which would likely fall under the Trees directory.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x ] Yes
- [ ] No

## Other context

This will be my fir

[2022-01-30 18:35] kc0813 opened #690 "First in First out queue in Python"
## Information about Algorithm
First in first out queue

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context
Simple first in first out queue in python with a demonstration

[2022-01-31 01:02] Okayd123 opened #692 "<!--Prim's Algorithm]--> in <!--[C++-->"
## Information about Algorithm

Finds the minimum spanning tree of a graph by a greedy algorithm.
It takes two sets of vertices, those in the MST and those not in the MST.
It repeatedly finds the edges connecting the two sets of vertices and adds the one with the lowest weight to the MST.

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) a

[2022-02-07 15:06] #661 closed

[2022-02-10 01:16] #690 closed

[2022-02-12 16:08] banerjeesoumya15 commented on #289
Hi @ming-tsai ,
Do you want documentation in markdown or code comments?

[2022-02-26 15:08] k2491p commented on #289
Hi @ming-tsai ,
I am new to contributing stuff on open source.
I would like to translate `DSA/tree/main/docs/en/Bubble-Sort.md` into Japanese and add to `DSA/tree/main/docs/ja`.
Is it OK?

[2022-02-26 15:44] ming-tsai commented on #289
Ok, I will wait for your pull request.

[2022-03-04 01:09] supaamucho opened #710 "Return all the possible permutations of x elements in a given array of size n in Javascript (recursive version - replicates optional)"
## Information about Algorithm

The algorithm returns an array of all the possible permutations (not combinations because order matters here) of x elements (x being one of the algorithm's parameters) in any given array of size n.
For instance, if the input array is [1,2,3,4,5] and x = 2, the return would start like this: [[1,1],[1,2],[1,3]...]
The algorithm uses a recursive approach and enables th

[2022-03-04 14:14] ming-tsai commented on #710
Hi @supaamucho,
I will wait for your pull request.

[2022-03-19 08:57] LuigiAltamura commented on #553
Hi @ming-tsai, if @kumarsyadav2 is not working anymore on this issue I can work on it! Otherwise I will choose another one

[2022-03-19 15:11] ming-tsai commented on #553
Hi @kumarsyadav2,
Could you respond to him?

[2022-03-19 17:22] kumarsyadav2 commented on #553
Hi @LuigiAltamura you can work on this!
currently I am not working on this.
@ming-tsai

[2022-03-21 19:31] Konnor-Young commented on #289
Hey @ming-tsai
I am working on the en documentation for count sort. Is that ok?

[2022-03-24 14:12] #553 closed, assigned to LuigiAltamura

[2022-03-25 17:56] Jaraxxxx commented on #501
@ming-tsai I am willing to contribute to this issue can you assign me this issue?

[2022-03-25 18:03] ming-tsai commented on #501
Please ask for @kumarsyadav2.

[2022-03-26 18:47] kumarsyadav2 commented on #501
@Jaraxxxx sure! you can work on this.
go ahead, wishing you best!
@ming-tsai

[2022-03-27 01:25] GAbdulWahab opened #722 "uniform cost search algorithm in python"
## uses the lowest cumulative cost to find a path from the source to the destination.

i.e: What the given algorithm do and i.e. Type of algorithm array,stack
1-Insert the root node into the priority queue
2-Repeat while the queue is not empty:
3-Remove the element with the highest priority
If the removed node is the destination, print total cost and stop the algorithm
Else, enqueue all the childr

[2022-03-28 19:19] GAbdulWahab commented on #722
@ming-tsai
Yes, why my pr not accept?

[2022-03-28 20:16] ming-tsai commented on #722
Nop @sridhar-5 will be validate the pull request.

[2022-03-29 21:35] GAbdulWahab opened #724 "Add section to JavaScript to add dsa using it"
Sorry how i can delete my issue?

[2022-03-29 21:39] #724 closed

[2022-03-31 17:35] mohanadtalat91 opened #725 "<!--Algorithm name]--> in <!--[language-->"
## Information about Algorithm

(Type here)
Hash table & Hash function
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [x] No

## Other context

(Type here)

[2022-03-31 17:41] mohanadtalat91 opened #726 "Sparse array in Cpp"
## Information about Algorithm

(Type here)
Sparse array using linked list
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Type here)

[2022-03-31 17:42] mohanadtalat91 opened #727 "Vector in Cpp"
## Information about Algorithm

Dynamic array (Vector)
(Type here)
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Type here)

[2022-03-31 17:43] mohanadtalat91 opened #728 "Sparse matrix in Cpp"
## Information about Algorithm

(Type here)
Sparse matrix using linked list
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [ ] Yes
- [ ] No

## Other context

(Type here)

[2022-03-31 17:45] mohanadtalat91 opened #729 "SRTF CPU scheduling in Java"
## Information about Algorithm

(Type here)
SRTF CPU scheduling algorithms in Java.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Type here)

[2022-04-02 20:03] #680 closed

[2022-04-05 11:56] GAbdulWahab commented on #722
@ming-tsai  why my algorithm not merge, @sridhar-5  is reviewed it and he says it good and I fixed the problem in grammar

[2022-04-05 11:59] ming-tsai commented on #722
Hi @GAbdulWahab,
History said after approving it, @sridhar-5 found some spelling errors, so he make a request change for you.
After you push the change he has to review it again.

[2022-04-05 12:02] GAbdulWahab commented on #722
@ming-tsai  ok, sorry  , thanks

[2022-04-05 18:19] vedant-z opened #733 "Radix sort in c++"
## Information about Algorithm

Radix sort : The idea of Radix Sort is to do digit by digit sort starting from least significant digit to most significant digit. Radix sort uses counting sort as a subroutine to sort.

Implementable on arrays.

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeCon

[2022-04-05 18:21] vedant-z commented on #733
Please assign me to contribute for Radix sort document.

[2022-04-05 19:00] ghost opened #734 "Depth-first search in python"
## Information about Algorithm

(Type here)
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Type here)

[2022-04-05 19:01] GAbdulWahab opened #735 "Breadth-first search in python"
## Information about Algorithm

(Type here)
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Type here)

[2022-04-16 18:08] #722 closed

[2022-04-16 21:53] GAbdulWahab opened #743 "I would like translate ```readme.md``` to Arabic"
## Information about Algorithm

(Type here)
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Type here)

[2022-04-20 13:37] #735 closed

[2022-04-27 06:01] NSHU17 commented on #501
Looks open still, can I complete? @kumarsyadav2 @Jaraxxxx @ming-tsai

[2022-04-27 06:06] kumarsyadav2 commented on #501
@NSHU17 sure!! go ahead and complete it.

[2022-05-26 19:53] aakgn commented on #289
Hi, could I add documentation for the singly linked list algorithm?

[2022-06-04 15:00] aakgn commented on #289
Pull Request: Singly Linked List Documentation #763

[2022-07-10 11:37] Arsenic-ATG commented on #743
Looks like the OP who opened this issue got their GitHub account deleted.

@ming-tsai
Should we close the issue or should we wait for a new contributor to show interest in it ?

[2022-07-11 13:21] ming-tsai commented on #743
I added `help-wanted` label for this issue

[2022-07-12 22:42] ming-tsai commented on #734
Hi @PrathameshSahasrabuddhe,
I have assign to you the issue

[2022-07-15 12:46] #734 closed

[2022-08-01 03:08] codesmith25103 commented on #289
Should I write Documentation about Vectors?

[2022-08-02 19:34] ming-tsai commented on #289
There is not obligation for documentation of the algorithms but inside of the algorithm file you should have the comments that reader to understand the process

[2022-08-07 04:20] IVIosab opened #790 "Floyd-Warshall in C++"
## Information about Algorithm

All Pairs Shortest-Paths algorithm to calculate shortest paths between all nodes
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

[2022-08-08 06:24] KooXinTong commented on #790
Could assigned me this issue? i am a first contributor, thank you!

[2022-08-17 04:34] mehulaswar06 opened #804 "<!--Radix Sort]--> in <!--[JavaScript-->"
## Information about Algorithm

A Program to sort array using radix sort in JavaScript
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

Radix sort is an non-comparison based sorting algorithm. It uses radix of

[2022-08-18 07:35] Devang-Shah-49 opened #806 "N-Queens Problem in C++"
## Information about Algorithm
Given a N x N chess board, arrange N queens in a way such that no two queens attack each other. Two queens are attacking each other if they are in same row, same column or diagonal

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_O

[2022-08-18 07:36] Devang-Shah-49 commented on #806
I would like to work on this problem! Please assign

[2022-08-18 07:38] Devang-Shah-49 commented on #806
I would like to solve this problem! Please assign

[2022-08-19 01:26] mohnishdeshpande opened #808 "Binary Power in C++"
## Information about Algorithm

Faster computing of powers (a^b) using Binary Exponentiation.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

[2022-08-19 08:52] Ayebilla commented on #289
Hi @ming-tsai, may I write the documentation for the doubly linked list?
Thanks

[2022-08-20 15:51] ming-tsai commented on #289
Hi @Ayebilla,
Ok I will be waiting for the pull request.

[2022-08-21 09:37] Devang-Shah-49 commented on #806
@ming-tsai @aayushjain7 Kindly review the linked PR: #812

[2022-08-22 17:45] sunny7712 opened #814 "Sliding Window Technique in CPP"
## Information about Algorithm

The Sliding window technique is a computational technique which aims to reduce the use of nested loop and replace it with a single loop, thereby reducing the time complexity. This technique is used in two ways, with a fixed window size or with a variable window size.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUT

[2022-08-23 14:24] sunny7712 commented on #814
@ming-tsai Please assign.

[2022-08-27 17:47] ayo-ajayi commented on #158
You can make me reviewer for Go

[2022-08-28 10:38] SubhamPanda2003 commented on #808
Hey,I am willing to work on this, please assign it to me.

[2022-08-28 10:39] SubhamPanda2003 commented on #790
Hey,I am willing to work on this, please assign it to me.

[2022-08-28 10:40] SubhamPanda2003 commented on #814
Hey,I am willing to work on this, please assign it to me.

[2022-08-28 10:45] SubhamPanda2003 commented on #727
Hey,I am willing to work on this, please assign it to me.

[2022-08-28 10:47] SubhamPanda2003 commented on #725
Hey,I am willing to work on this, please assign it to me.

[2022-08-28 19:01] mohitchakraverty opened #823 "Explanation in Hindi"
## Information about Algorithm

Add a translation or explanation of the algorithm in the Hindi language.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

[2022-08-28 21:09] ming-tsai commented on #808
Hi @mohnishdeshpande, @angshudas and @Arsenic-ATG,
We have both pull requests #810 and #815 working on this, please make sure which should be closed and make pair programming in another pull request.

[2022-08-28 21:10] ming-tsai commented on #790
Hi @ IVIosab,
Are you working on this issue?

[2022-08-28 21:19] ming-tsai commented on #823
Hi @mohitchakraverty,
Do you want to add translate for the repo or an algorithm?

[2022-08-29 00:27] mohnishdeshpande commented on #808
Hi @ming-tsai,
In #815, there are a fixes changes required.
On line 16:
-long ans= power(base , expo/2);
+long ans= power_recursion(base , expo/2);
and line 33:
-res = res * expo;
+res = res * base;

To solve the issue here, I have added the recursive implementation from @angshudas to #810 , sourcing his account in comments.

You can review and merge #810 if you are happy with it.
P.S. I have test

[2022-08-29 02:39] Arsenic-ATG commented on #808
According to me, the one opened earlier should be given preference (i.e.  #810 ).

@angshudas , if you want to make changes, then a preferable way might be to work on source branch of previous pull request ( [mohnishdeshpande:808](https://github.com/mohnishdeshpande/DSA/tree/808) in this case ). It will keep the changes regarding one algorithm isolated to one PR only (at least on the main reposito

[2022-08-29 02:44] Arsenic-ATG commented on #808
I guess a much better alternative would be to mark @angshudas as a co-author of the commit adding recursive version of the algorithm, like this, version control will also be able to keep track of original author of the changes in the repo ( would be helpful if someone does a `git blame` on the file )

[2022-08-29 05:24] mohitchakraverty commented on #823
For now, explanation of the algorithms in Hindi like there is for other languages. And please make it open for contribution.

[2022-08-29 19:10] IVIosab commented on #790
Yes, I have already pushed a pull request and waiting for it to be reviewed by @Ashborn-SM

[2022-08-30 23:31] #790 closed

[2022-09-01 15:40] #808 closed

[2022-09-13 02:05] pyagnik1 commented on #289
Hello @ming-tsai 👋, may I add documentation for balanced trees? Specifically, AVL trees and Red-Black trees. Thanks

[2022-09-14 10:55] mohitchakraverty opened #840 "Broken Link in Java/README.md file"
**Bug detail**

Name of the file in which the bug is present. Additionally, you can also add the line number and/or a code snippet of the bug.
DSA/algorithms/Java/README.md
Under Tree :
At Line  103: Random node of a binary tree
**Counter example**
The link does not work and is not linked to its respective file.

[2022-09-14 15:24] christophermorin commented on #840
Hello, I'd like to fix this.

[2022-09-14 20:43] ming-tsai commented on #289
Yes, I will be waiting for your pull request.

[2022-09-14 20:48] #840 closed

[2022-09-18 14:22] kushalsng commented on #814
Hello @ming-tsai
Please assign this issue to me

[2022-09-18 19:35] ming-tsai commented on #814
Hi @sunny7712,
Do you woking on this issue?

[2022-09-20 23:22] pyagnik1 commented on #289
Hello  👋 @ming-tsai I have added a new algorithm, Red Black Tree to the c file, here is the link to my pull request #845. I will add documentation for this algorithm in my next pull request. Please let me know if I can help in any other way. And thanks for giving me a chance.

[2022-09-22 13:52] kparaske opened #846 "Roman Numerals Converter in Java"
## Information about Algorithm

I would like to implement an algorithm that converts decimal integers to roman numerals and vice versa.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

None.

[2022-09-25 04:37] Harshit-3905 commented on #846
I would like to work on this issue . Can You assign me ?

[2022-09-25 09:23] yashdodani commented on #289
May I add some examples on recursion in java?

[2022-09-25 21:14] Amit-exe commented on #814
Hello @ming-tsai,
I hope you are doing great
If it's still pending then please assign it to me.
thanks and regards

[2022-09-26 03:32] AKACHI-4 commented on #823
Hey everyone, I loved to work on this issue ....

But I have some doubts on other hand -
1. where I have to explain algos in Hindi?
2. which form I have to upload them?
3. Which algos I have to explain?

[2022-09-26 03:36] AKACHI-4 commented on #728
Hey @mohanadtalat91 Is this issue is in still progress if not so can I work on it..

[2022-09-26 03:40] AKACHI-4 commented on #682
Hey @JenniferrLopez is this issue is still in progress can I work on it ....

[2022-09-26 04:19] JenniferrLopez commented on #682
Hello, you can go ahead and work on this issue if you would like!
________________________________
From: AdarsH ***@***.***>
Sent: Sunday, September 25, 2022 11:40 PM
To: MakeContributions/DSA ***@***.***>
Cc: Lopez,Jennifer ***@***.***>; Mention ***@***.***>
Subject: Re: [MakeContributions/DSA] Max Heap in C++ (Issue #682)

[External Email]

Hey @JenniferrLopez<https://nam10.safelinks.protection.

[2022-09-26 05:40] AKACHI-4 commented on #682
Okay thanks for help 👍🙂

[2022-09-26 05:44] ahmedsilat44 commented on #289
I found some typos in the documentation of MinHeap so I Fixed them
![image](https://user-images.githubusercontent.com/105588821/192201897-efa445ac-0720-48d4-bf47-dd31162273b1.png)
the PR is #851

[2022-09-27 13:37] mohitchakraverty commented on #823
1. Create a folder under docs named **hi**
2.  this folder should contain README.md file which will act as a content page with the link
3.  you can choose any algorithm to explain
For reference, you can see docs\en to see how it should be and the format

[2022-09-27 18:12] ShubhamJagtap2000 opened #852 "Adding an element at nth position in a linked list in C lang."
## Information about Algorithm

The algorithm will form a linked list using user inputs and then take a position as input and delete an element present at that position/index.

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

#

[2022-09-28 14:28] charu210703 commented on #289
Can I add some code for stacks in python as well as the documentation?

[2022-09-28 16:44] pranavyatnalkar commented on #289
Hello @ming-tsai 👋 may I add algorithms to insert and delete an element of a heap in C++? Thank you

[2022-09-28 22:14] #806 closed

[2022-09-28 22:31] ming-tsai commented on #289
Hi @charu210703 and @pranavyatnalkar,
Yes, this is an open source project, everyone could make contributions to it.

[2022-09-29 14:23] dalbarracin commented on #158
I might be reviewer for c# code if you need it. Planning also to make a contribution sooner

[2022-09-30 18:33] Chayandev opened #859 "Missing C version of Left rotation of Array"
### **There should be a C version for left rotation of array problem.**

 In **C** language section of this DSA project , **left rotation of the array** (question) is not solved so there should be a C version of this particular  question.

[2022-09-30 18:35] Chayandev commented on #859
I want to work on this issue @cclauss @Dhee2211 @brugner   .Please assign this to me.

[2022-09-30 20:04] cclauss commented on #859
Please remove my @mention above.

[2022-10-01 03:53] en1gm479 commented on #501
Looks like this issue is still open, can you assign this to me? @ming-tsai @NSHU17 @kumarsyadav2

[2022-10-01 08:16] pranavyatnalkar commented on #289
Hello @ming-tsai 👋 I have added a new algorithm, here is the link to my pull request https://github.com/MakeContributions/DSA/pull/866. I am also planning to add its documentation in my upcoming pull request. Thank you for letting me contribute!

[2022-10-01 13:49] PravarAnu opened #870 "Reverse the Linked List Using Stack in C++"
## In this we are going to reverse a linked list with the help of Stacks

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

This is a question which is asked during the coding interview. You can give this quest

[2022-10-01 13:52] PravarAnu commented on #870
Hey I would like to contribute for this issue under the HACKTOBERFEST 2022.
Can you assign it to me?

[2022-10-01 14:08] PravarAnu opened #871 "recursive-sum-of-n-numbers.py is located in the root location"
## A python file named "recursive-sum-of-n-numbers.py" is  mistakenly placed in the root location by some contributor.

[2022-10-01 14:09] PravarAnu commented on #871
Hey @ming-tsai can you please assign this issue to me under the HACKTOBERFEST label.

[2022-10-01 14:35] kumarsyadav2 commented on #501
@en1gm479 go ahead

[2022-10-01 19:20] Dev12820 opened #873 "Anagram in Java"
I want to add Anagram algo in java with the help of direct address table.

[2022-10-01 19:45] Dev12820 opened #875 "Want to add Indexsequential search in java"
I want to Contribute in searching in java

[2022-10-02 05:05] en1gm479 commented on #501
@ming-tsai @kumarsyadav2 I've made the PR, anyone pls review it.

[2022-10-02 06:19] charu210703 commented on #289
Hi @ming-tsai , I have added an algorithm for stacks, here is my pull request #880. Once it is merged, I will also add the documentation for the same. Thank you.

[2022-10-02 06:20] Sleep-lover opened #881 "In this I want to add graph algorithms in the javascript language"
## Information about Algorithm

(Type here)
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

I want to contribute in this repo by adding the graph algorithms like bfs dfs and many more

[2022-10-02 06:21] Sleep-lover commented on #881
hay can u please assign it to me

[2022-10-02 09:47] Arsenic-ATG opened #887 "Regression after merging #849"
Pull request #849 was merged even though the changes weren't passing all the checks, causing a regression check failure in all the PRs opened after it.

[2022-10-02 09:59] Arsenic-ATG commented on #887
@MakeContributions/dsa-reviewers, please make sure the PR passes all the checks before approving it.

[2022-10-02 11:15] RaisaGhosh commented on #852
Hey @ming-tsai  , I see this issue is still open, can you assign me this?

[2022-10-02 13:09] RaisaGhosh opened #890 "<!--Binary Search in a 2D matrix]--> in <!--[JAVA-->"
## Information about Algorithm

(Type here)
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Type here)

[2022-10-02 13:17] RaisaGhosh commented on #890
Hey @ming-tsai  I would like to contribute to this issue under the HACKTOBERFEST 2022.
Can you assign it to me?

[2022-10-02 13:27] lubnafathima opened #891 "Palindrome in Java"
## Information about Algorithm

I would like to add Palindrome Program inside ->
DSA/algorithms/Java/ Maths or String
Maths(for integer)
String(for string)
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

I ha

[2022-10-02 15:34] sourabhkumar47 opened #894 "Check the number is prime or not in Java"
## Information about Algorithm
I want to add an optimized solution to check whether the number is prime or not.
Inside -> algorithms/Java/Maths

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [✔ ] Yes
- [ ] No

## Other context

[2022-10-02 20:11] HemanthThota39 opened #898 "Flatten a binary tree to Linked List in CPP"
## Information about Algorithm

### We are given a root of the binary tree, and the given binary tree needs to be flattened into a linked list:

**Here are the rules which are followed while converting it into a linked list:**

- The "linked list" should use the same TreeNode class where the right child pointer points to the next node in the list and the left child pointer is always null.
- The "l

[2022-10-02 20:13] HemanthThota39 commented on #898
Hey @ming-tsai @aayushjain7 @Ashborn-SM,  I am interested in working on this issue can you please assign it to me!

[2022-10-03 04:04] MehraDevesh2022 commented on #894
Hey @ming-tsai @sourabhkumar47  I would like to contribute to this issue under the HACKTOBERFEST 2022.
Can you assign it to me?

[2022-10-03 05:15] HemanthThota39 commented on #814
Hello @ming-tsai I see this issue is still open, can you please assign it to me

[2022-10-03 06:47] adityjoshi opened #904 "Reach a number using binary search in java"
## Information about Algorithm
 using binary search we will do this -> Given the integer target, return the minimum number of moves required (i.e., the minimum numMoves) to reach the destination.
(Type here)
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CON

[2022-10-03 06:48] adityjoshi commented on #904
hey please assign this issue to me under Hacktoberfest tag

[2022-10-03 20:17] Pranav-Rustagi opened #909 "Single occurring element in array in JavaScript."
## Finding element appearing only once in an array having other elements appearing twice.

The input for the problem is an array. The algorithm uses bitwise operations to find the single occurring element in O(1) extra space, and O(n) time complexity.

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.co

[2022-10-03 20:20] Pranav-Rustagi commented on #909
@ming-tsai Can you please assign it to me?

[2022-10-04 07:52] tripathisharad commented on #289
Hello @ming-tsai can you assign me this this project I would like contribute on that.

[2022-10-04 09:59] Amit-exe commented on #909
@ming-tsai assign it to me

[2022-10-04 12:08] Khushi260 opened #912 "Euclidean algorithms"
## Information about Algorithm

The Euclidean algorithm is a way to find the greatest common divisor of two positive integers. GCD of two numbers is the largest number that divides both of them. A simple way to find GCD is to factorize both numbers and multiply common prime factors.
GCD (i.e. Greatest Common Divisor) or HCF (i.e. Highest Common Factor) is the largest number that can divide both th

[2022-10-04 12:33] ming-tsai commented on #887
Hi @Arsenic-ATG and @mohitchakraverty,
Does this issue is solved?

[2022-10-04 17:55] ming-tsai commented on #158
Yes!!!, I have invited you as reviewer

[2022-10-04 21:48] Ashu-1309 commented on #894
I want to work on this kindly assign me this work!!

[2022-10-05 02:45] SujalMishra commented on #894
Hey @ming-tsai and @sourabhkumar47  Hope you are doing well, I would love to work on this issue can you please assign it me.

[2022-10-05 04:29] Ashu-1309 commented on #890
I would like to work on this. Can you assign me this work?

[2022-10-05 05:36] mohitchakraverty commented on #887
No, I think We will have to revert both the merge
#901
#849

[2022-10-05 05:51] mohitchakraverty commented on #887
Yes, it is fixed but everyone needs to update their branch to merge the latest changes from the upstream repository into their branch in their forked repo.

[2022-10-05 08:36] #501 closed

[2022-10-05 11:09] dev24il opened #933 "Redundant Parenthesis in Java"
## Information about Algorithm

## Table of Content
- RedundantParenthesis

## RedundantParenthesis
Given a string of balanced expression, find if it contains a redundant parenthesis or not. A set of parenthesis are redundant if the same sub-expression is surrounded by unnecessary or multiple brackets. Print True if redundant, else False.
Note: Expression may contain ‘+‘, ‘*‘, ‘–‘ and ‘/‘ operator

[2022-10-05 11:10] dev24il commented on #933
Hey @ming-tsai @aayushjain7 @Ashborn-SM, I am interested in working on this issue can you please assign it to me!

[2022-10-05 11:21] dev24il opened #934 "Redundant parenthesis in cpp"
## Information about Algorithm

## Table of Content
- RedundantParenthesis

## RedundantParenthesis
Given a string of balanced expression, find if it contains a redundant parenthesis or not. A set of parenthesis are redundant if the same sub-expression is surrounded by unnecessary or multiple brackets. Print True if redundant, else False.
Note: Expression may contain ‘+‘, ‘*‘, ‘–‘ and ‘/‘ operator

[2022-10-05 11:22] dev24il commented on #934
Hey @ming-tsai @aayushjain7 @Ashborn-SM, I am interested in working on this issue can you please assign it to me!

[2022-10-05 16:44] tanishk-23 commented on #875
@Dev12820 can you please assign this to me?

[2022-10-05 17:07] Adelinked opened #939 "contribution word is present twice in a sentence of the README file"
**Bug detail**

README.md  line 48.
#### Project/Folder-based Contributions

The project and folder-based contributions have a bit more stricter contribution **contribution** specifications.

 ### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)
* [x]

[2022-10-05 18:33] Ruchit1101 commented on #870
Hey @ming-tsai  I would like to contribute for the given issue under HACKTOBERFEST 2022. Can you please assign it to me so that I could help out in my best ?

[2022-10-05 23:18] #873 closed

[2022-10-05 23:24] #887 closed

[2022-10-05 23:26] ming-tsai commented on #890
Hi @Ashu-1309,
Please coordinate with @RaisaGhosh, I don't know if he is working on it or not

[2022-10-05 23:38] ming-tsai commented on #870
Hi @Ruchit1101,
Please make agreement who is going to work this issue, I have assigned to @PravarAnu due to he owner of this issue.

[2022-10-05 23:53] ming-tsai commented on #912
Hi @Khushi260,
In which language are you going to work with?

[2022-10-06 00:01] ming-tsai commented on #894
Hi @sourabhkumar47,
Are you going to working this issue?

[2022-10-06 00:19] ming-tsai commented on #933
Hi @dev24il,
So @DhruvSingla007 worked on it.

[2022-10-06 00:28] #939 closed

[2022-10-06 01:31] Khushi260 commented on #912
Hi @ming-tsai, I'm going to work in Cpp language.

[2022-10-06 02:34] Ruchit1101 commented on #870
Okay I am back from this issue. Thank you

[2022-10-06 04:09] #933 closed

[2022-10-06 04:10] dev24il commented on #933
I am closing this issue as I have created this first.

[2022-10-06 09:30] dhruv-porwal opened #951 "Added Link to access indepth knowledge of Cycle sort"
## Information about Algorithm
Cycle Sort

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

Yes read this Contributing.md

## Other context

Geeksforgeeks

[2022-10-06 10:13] RaisaGhosh commented on #890
Hi @Ashu-1309 ,
I am currently working on this issue, you can find something else to work on.

[2022-10-06 10:23] RaisaGhosh opened #952 "Stack Implementation in JAVA"
## Information about Algorithm

I want to add documentation and code to implement stacks.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

Questions based on stacks are quite commonly asked in coding interview

[2022-10-06 10:23] RaisaGhosh commented on #952
Hey @ming-tsai I would like to contribute to this issue under the HACKTOBERFEST 2022.
Can you assign it to me?

[2022-10-06 10:53] Shubhamsingh2747 commented on #733
Hey @ming-tsai , If you are willing kindly assign me the issue.

[2022-10-06 10:54] Shubhamsingh2747 commented on #727
Hey @mohanadtalat91 , I see the issue is still open. If you are willing, kindly assign me this issue.

[2022-10-06 14:00] Ruchit1101 opened #957 "Left view of Binary Tree in C++"
**Left View of given Binary Tree**

PR Checklist
- [x] My submission is formatted according to the guidelines in the [contributing guide](https://github.com/MakeContributions/DSA#contribution-guidelines)
- [x]  My addition is on refer on the language README.md file
- [x]  My addition does not have a spelling problem
- [x]  My submission is a proper and friendly code lines.
- [x]  My submission has

[2022-10-06 15:28] ming-tsai commented on #733
Hi @vedant-z,
Are you working on this?

[2022-10-06 15:34] vedant-z commented on #733
Hi @ming-tsai I have completed this issue about 6 months ago

[2022-10-06 15:36] ming-tsai commented on #890
Hi @RaisaGhosh,
In wich language are you going to implement?

[2022-10-06 15:40] ming-tsai commented on #951
Hi @dhruv-porwal,
In wich language are you going to implement?

[2022-10-06 15:46] ming-tsai commented on #898
Hi @JIsaacSamuel,
@HemanthThota39 is working on this issue, you could open another issue and I will assign it to you.

[2022-10-06 15:47] ming-tsai commented on #957
Hi @gyrodope69,
I guess @Ruchit1101 is working on this issue, you could open another issue and I will assign it to you.

[2022-10-06 16:31] JIsaacSamuel opened #965 "Flatten a binary tree to Linked List in CPP #898"
## Information about Algorithm

We are given a root of the binary tree, and the given binary tree needs to be flattened into a linked list:
Here are the rules which are followed while converting it into a linked list:

- The "linked list" should use the same TreeNode class where the right child pointer points to the next node in the list and the left child pointer is always null.

- The "linked li

[2022-10-06 16:33] JIsaacSamuel commented on #965
hey @ming-tsai, I would love to work on this issue. Do add hacktoberfest label. Thanks in advance.

[2022-10-06 16:36] Striver404 opened #966 "Print all Nodes that don't have sibling in C++"
**All nodes that don't have sibling**

 **PR CHECKLIST**

- [x]  My submission is formatted according to the guideline in the [contributing guide]
             (https://github.com/MakeContributions/DSA/blob/c63a39519a53f9e42487093f68507ba167569e3a/CONTRIBUTING.md)
- [x]  My addition is on refer on the language README.md  file
- [x]  My addition does not have any spelling mistakes.
- [x]  My submis

[2022-10-06 17:12] vedant-z commented on #733
Hey @ming-tsai

Yes this PR contains the documention about Radix Sort as I had opened the issue under documentation part.

Also the ALGORITHM was already present in the repository so I have linked the algorithm in specific languages.

[2022-10-06 17:12] #733 closed

[2022-10-06 17:27] ming-tsai opened #968 "We are not going to participate Hacktoberfest 2022"
This repo is not inside of the hacktoberfest 2022, due to we have already participated last year, and sorry about not removing the `hacktboerfest` topic on the issue.

**IF YOU OPEN A PULL REQUEST FOR THAT AND WON'T CONTINUE WITH IT, PLEASE HELP US CLOSED IT.**

For more details read the below link.
https://hacktoberfest.com/participation/#pr-mr-details
[code]

Best Regards.

[2022-10-06 17:30] ming-tsai commented on #965
Please read the issue #968

[2022-10-06 17:41] ming-tsai commented on #966
Hi @Striver404,
We are not participating the hacktoberfest 2022, for more information please see the #968, let me know if you are going to work this or not.

[2022-10-06 17:43] Pranav-Rustagi opened #970 "Josephus problem solution in C++"
## Information about Algorithm
## Recursive solution for the Josephus problem

This is a recursive algorithm which gives solution for the Josephus problem.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Typ

[2022-10-06 17:44] ming-tsai commented on #970
Hi @Pranav-Rustagi,
If you are participating hacktoberfest 2022, please read this #968.

[2022-10-07 08:59] mohitkrsuman commented on #289
Hello @ming-tsai I have added a new popular algorithm sudoku solver in Backtracking.

[2022-10-07 16:01] JIsaacSamuel commented on #965
[https://github.com/JIsaacSamuel/DSA/blob/main/flattenTree.cpp](url)

The above link has the solution code to flatten the tree problem.

[2022-10-08 09:19] #934 closed

[2022-10-08 09:57] dev24il opened #983 "Rod Cutting Problem in Cpp"
## Information about Algorithm
## Rod Cutting
- [Problem Statement](#problem-statement-for-rod-cutting)
    - [Examples](#rod-cutting-examples)
- [Optimal Approach](#rod-cutting-optimal-approach)
- [Complexity](#rod-cutting-complexity)
### Problem Statement for Rod Cutting
Given a rod of length n and a list of rod prices of length i, where 1 <= i <= n, find the optimal way to cut the rod into smal

[2022-10-08 09:59] dev24il commented on #983
Hey @ming-tsai @aayushjain7 @Ashborn-SM, I am interested in working on this issue can you please assign it to me!

[2022-10-08 16:09] HimanshuMahto commented on #158
Hey there, I some knowledge about Java and C++ and I would like to be a reviewer for them. Please Let me do it.
Thankyou

[2022-10-08 18:06] ming-tsai commented on #158
Hi @HimanshuMahto,
I will invited you but before you being reviewer, could you please open an contribution to this repo?
So, you could understand the workflow of this repo.

Thanks.

[2022-10-08 18:45] #881 closed

[2022-10-08 20:56] RaisaGhosh commented on #890
Hi @ming-tsai ,

I have added the necessary implementation and documentation. Kindly review it.

[2022-10-09 11:44] Arsenic-ATG commented on #968
It's common for DSA based repositories to be excluded from hacktoberfest. Allowing them would cause people to fetch quick and low effort contributions without adding any significant value to the projects, making the event unfair for participants who actually contribute to decent projects.

[2022-10-09 14:11] kodepirate opened #1001 "Merge a linked list into another linked list at alternate positions in Python"
The idea is to run a loop while there are available positions in first loop and insert nodes of second list by changing pointers.

[2022-10-09 14:13] kodepirate opened #1002 "Compare two strings represented as linked lists in C++"

[2022-10-09 14:14] seemanttripathi opened #1003 "cycle detection and removal in linkedlist in Python"
## Information about Algorithm

Type: LinkedList
The purpose of algorithm is to detect the cycle in an linked list and remove the cycle.

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

**- Yes**

## Other context

This is standard Linked List pr

[2022-10-09 14:15] seemanttripathi commented on #1003
I would like to solve this problem, Please assign the issue to me.

[2022-10-09 14:18] seemanttripathi commented on #1001
Please assign this issue to me if it is available.

[2022-10-09 14:26] kodepirate commented on #1001
If I can't resolve it I will forward it to you @seemanttripathi

[2022-10-09 14:28] seemanttripathi commented on #1001
Thank You! @kodepirate

[2022-10-10 07:19] Maniktherana opened #1008 "Two Sum in JavaScript"
## Information about Algorithm

Given an array of integers ``nums`` and an integer ``target``, return indices of the two numbers such that they add up to ``target``.
You may assume that each input would have exactly one solution, and you may not use the same element twice.
You can return the answer in any order.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/

[2022-10-10 10:01] Navneet0801 commented on #957
Hey, pls assign me for this contribution!

[2022-10-10 13:24] chhotu2 commented on #870
Hello! Can you assign this issue to me?

[2022-10-10 13:25] chhotu2 commented on #846
Hello!  can you assign this issue to me ?

[2022-10-10 13:27] chhotu2 commented on #852
Hello! Can you assign this issue to me?

[2022-10-10 13:30] chhotu2 commented on #912
Hello! Can you assign this issue to me?

[2022-10-10 14:28] ShubhamJagtap2000 commented on #852
Actually it is already assigned to me waiting for approval friends. @chhotu2 @RaisaGhosh

[2022-10-10 16:28] #846 closed

[2022-10-10 19:46] Amarjeet2909 commented on #1008
I want to solve this issue and contribute in it

[2022-10-10 19:56] Amarjeet2909 opened #1011 "Modification required in floyd-warshall.cpp Algorithm"
## Modification required in floyd-warshall.cpp Algorithm

The code needs to be modified and the the printing of steps should be in proper manner. use of different thing in place of Array is required
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

[2022-10-10 19:59] Amarjeet2909 commented on #1011
Hii, I have created this issue and I would like to contribute in it by solving the problem under hacktoberfest 2022. please give me the chance

[2022-10-11 09:13] bhavya-sharma26 commented on #1002
can you please assign this issue to me?

[2022-10-12 01:24] ming-tsai commented on #957
Hi @Ruchit1101,
Are you working on this?

[2022-10-12 01:25] ming-tsai commented on #870
So, @PravarAnu and @Ruchit1101  who is working on this?

[2022-10-12 01:25] #909 closed

[2022-10-12 01:27] ming-tsai commented on #1002
Hi @kodepirate,
Would you like to work this issue?

@bhavya-sharma26 please make agreement with @kodepirate, because he open this issue.

[2022-10-12 01:29] ming-tsai commented on #912
Sorry about it, but @Khushi260 is working on this issue.

[2022-10-12 01:30] ming-tsai commented on #852
May I know which is the pull request?

[2022-10-12 09:16] ShubhamJagtap2000 commented on #852
Sorry, I mean, I am going to raise it shortly.

[2022-10-13 03:37] riteshyadav27 opened #1025 "Knapsack Problem Java"
## Information about Algorithm

Want to add Knapsack problem with greedy approach in java.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

-  Yes

## Other context

[2022-10-13 03:51] riteshyadav27 commented on #1025
@ming-tsai Assign me this task and please add hacktoberfest 2022 label 🙌

[2022-10-13 14:41] Amarjeet2909 opened #1028 "N Queen Problem in C"
## Information about Algorithm

N Quuen Problem is an Important Problem
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [ ] Yes
- [ ] No

## Other context

(Type here)

[2022-10-13 14:43] Amarjeet2909 commented on #1028
Dear Sir/Ma'am, I have created this Issue and I would like to solve this in C language. Please give me the opportunity

[2022-10-13 15:36] Amarjeet2909 opened #1030 "Linear Search in C++ In Vector & Array Both"
## Information about Algorithm

Linear Search can be done in Vector and array in C++ in sequential fashion .
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Type here)

[2022-10-13 15:37] Amarjeet2909 commented on #1030
Dear Sir/Ma'am, I have created this Issue and I would like to solve this. So please give me the opportunity

[2022-10-14 03:30] Maniktherana opened #1032 "Two sum in Rust"
## Information about Algorithm

Given an array of integers ``nums`` and an integer ``target``, return indices of the two numbers such that they add up to ``target``.
You may assume that each input would have exactly one solution, and you may not use the same element twice.
You can return the answer in any order.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/

[2022-10-14 03:39] vinayassrao opened #1033 "Minimum Depth of a Binary Tree in C++"
## Information about Algorithm

Given a binary tree, find its minimum depth.

The minimum depth is the number of nodes along the shortest path from the root node down to the nearest leaf node
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x]

[2022-10-14 03:39] vinayassrao commented on #1033
Please assign me this

[2022-10-14 09:57] ashutosh-gupta2111 commented on #1033
Hello, Can you please assign this issue to me?

[2022-10-14 09:58] ashutosh-gupta2111 commented on #1030
Hello, Can you please assign this issue to me?

[2022-10-14 16:30] kodepirate commented on #1002
I am not working in this issue if you want you can work on it @bhavya-sharma26  @ming-tsai

[2022-10-14 20:04] Amarjeet2909 commented on #1030
#include <bits/stdc++.h>
#include <stdio.h>
using namespace std;

int main(){
    int n,key;
    cout<<"Enter the number of elements\n";
    cin>>n;

    //Declaring the Array
    int A[n];

    cout<<"Enter the Elements\n";
    for(int i=0;i<n;i++)
    {
        cin>>A[i];
    }
    cout<<"Enter the element to Search\n";
    cin>>key;

    //Linear Search
    for(int i=0;i<n;i++)
    {
        if

[2022-10-15 03:15] Danish-Belal commented on #1025
@riteshyadav27 Kindly assign this to me.

[2022-10-15 13:50] nhimanshujain commented on #1025
@riteshyadav27 Can you please assign this issue to me ?? Thanks.

[2022-10-15 15:46] Danish-Belal commented on #952
@ming-tsai  Kindly assign this tasks to me so that I can work on it.

[2022-10-15 15:52] #983 closed

[2022-10-15 15:57] Danish-Belal opened #1043 "<!--Dynamic Stack]--> in <!--[Java-->"
## Information about Algorithm
I want to implement Dynamic Stack in Java Language .

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [#] Yes
- [ ] No

## Other context

(Type here)
I have seen this problem on many Coding plateforms.

[2022-10-15 15:58] Danish-Belal commented on #1043
Assign this issue to me.

[2022-10-16 00:18] ming-tsai commented on #1002
Hi @kodepirate,
Could you please send me the pull request?

[2022-10-16 00:37] ming-tsai commented on #952
Hi @Danish-Belal,
@RaisaGhosh is working on this.

[2022-10-16 00:39] ming-tsai commented on #1025
Hi @riteshyadav27,
For the hacktobertfest please read this issue #968

[2022-10-16 00:41] ming-tsai commented on #1030
Please add a pull request using git or read this [article](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md)

[2022-10-16 09:44] yashpaddalwar commented on #957
Hey please assign this to me

[2022-10-16 16:46] MD571 opened #1045 "Spiral Matrix in CPP"
## Information about Algorithm
Given an m x n matrix, return all elements of the matrix in spiral order.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context
This is a competitive platform problem Leetcode.

[2022-10-16 16:49] MD571 commented on #1045
Please assign this to me

[2022-10-17 14:52] riteshyadav27 commented on #1025
@ming-tsai There is no folder which is strictly dedicated for algorithms in Java. So may I create it or add this knapsack problem in arrays section ?

[2022-10-17 15:48] ankit0802 commented on #1045
Please Assign this to me ,I have a good experience in solving DSA problems

[2022-10-17 16:52] Danish-Belal commented on #1043
#1044  is my PR  @ming-tsai  kindly review it and merge it. Thanks.

[2022-10-17 18:32] Ayushitgithub commented on #1025
Plz assign me to do this issue sir i want to this ..

[2022-10-17 18:33] Ayushitgithub commented on #890
I want to work on this can you assign this issue to me sir.....

[2022-10-17 18:35] Ayushitgithub commented on #952
can you plzz assign this issue to me

[2022-10-17 18:36] Ayushitgithub commented on #1008
i want to work on this plz assign to me

[2022-10-17 18:37] Ayushitgithub commented on #1043
Plz assign this issue to me ...

[2022-10-17 18:38] Ayushitgithub commented on #1033
can you plz assign to me ....

[2022-10-20 07:42] yashh1234 commented on #1045
Please assign this to me, I want to contribute to this.

[2022-10-20 09:13] Avimathu opened #1055 "<!--Trapping Rain Water]--> in <!--[C++-->"
## Information about Algorithm

**Trapping Rain Water** : Given n non-negative integers representing an elevation map where the width of each bar is 1, algorithm computes how much water it can trap after raining.
**Type of Algorithm** : Dynamic Programming & Vectors
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](htt

[2022-10-20 09:14] Avimathu commented on #1055
Please assign this issue to me, I would like to contribute to this issue raised by me.

[2022-10-20 09:22] MD571 commented on #1045
@ming-tsai I have done pull request #1046 accept it.

[2022-10-20 14:48] TechGeek3 opened #1057 "Floyd's Hare and Tortoise Algorithm in C++"
## Information about Algorithm

- Find the middle of linked lists
- Type of algorithm: Linked Lists

### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context
This is a competitive platform problem: Leetcode, GeeksForGe

[2022-10-20 17:00] Denisthatorf commented on #289
Hi, I contribute for the first time, can I write Dijkstra algorithm documentation?

[2022-10-20 17:13] Denisthatorf opened #1058 "Bad memory usage in DSA/algorithms/CPlusPlus/Graphs/dijkstra.cpp"
The Dijkstra algorithm uses vector<vector<pair<int,int>>> graph(V+1,vector<pair<int,int>>()) as a matrix. This is very, very bad for memory, because the vector in the vector in memory is not stored linearly, and can be scattered in memory very much. As an alternative, I propose to use a regular array (data = new T [rows * columns]) allocated on the heap and get its elements like this : *(_data + r

[2022-10-20 17:21] #1057 closed

[2022-10-21 02:48] #1003 closed

[2022-10-21 02:57] ming-tsai commented on #1025
Sorry for late, but please check this path

[2022-10-21 02:59] #1008 closed, assigned to Maniktherana

[2022-10-21 03:01] ming-tsai commented on #289
Yes, I will be waiting your pull request 😊

[2022-10-21 03:04] ming-tsai commented on #1058
Hi @Denisthatorf,
Could you help me to this bug?

[2022-10-21 06:20] Avimathu commented on #1055
Please approve my PR that I have raised. Thank you!
Trapping Rain Water (in C++) #1060

[2022-10-21 08:18] Denisthatorf commented on #1058
Yes, sure

[2022-10-21 11:37] Denisthatorf commented on #1058
https://github.com/MakeContributions/DSA/pull/1061 - my pull request for fixing a problem

[2022-10-24 20:10] Dev-kabir-ai opened #1072 "Add Kadane's algorithm."

[2022-10-24 20:11] Dev-kabir-ai commented on #1072
I want to contribute this algorithm code. Please assign this to me.

[2022-10-30 16:02] #1058 closed

[2022-10-31 15:03] Asib27 opened #1078 "Fibonacchi Heap in C++"
## Information about Algorithm
Its a data structure, a variant of heap which supports  decrese key in O(1) time

It supports insert, pop and decrease key operation for intergers

[2022-10-31 15:03] Asib27 commented on #1078
plz assign this issue to me

[2022-11-11 11:19] Adi-ty opened #1085 "Radix Sort in C#"
## Information about Algorithm

The idea of Radix Sort is to do digit by digit sort starting from least significant digit to most significant digit. Radix sort uses counting sort as a subroutine to sort.

[2022-11-11 11:23] Adi-ty commented on #1085
Please assign this issue to me. I would like to contribute

[2022-11-22 04:24] aayush6200 commented on #289
Hey !! I can contribute to DSA. I will actually present a question and solve it through the use of DSA. Assign me. Thanks

[2022-11-27 05:13] yashh1234 commented on #1030
Please assign me this @ming-tsai

[2022-11-27 22:00] Poonam-Raghuvanshi opened #1091 "Remove Duplicates from Linkedlist in Java"
## Information about Algorithm

I would like to contribute an algorithm that would remove duplicates from a Singly Linked List in O(n) time complexity.
### Have you read the [Contributing.md](https://github.com/MakeContributions/DSA/blob/main/CONTRIBUTING.md) and [Code of conduct](https://github.com/MakeContributions/DSA/blob/main/CODE_OF_CONDUCT.md)

- [x] Yes
- [ ] No

## Other context

(Type he

[2022-11-27 22:02] Poonam-Raghuvanshi commented on #1091
Please assign this issue to me. I would like to contribute.

[2022-11-30 12:54] #1030 closed

[2022-11-30 12:55] ming-tsai commented on #1030
Hi @yashh1234,
This is duplicate issue.